<% include header %>
<link href="css/NavCancerInfo.css" rel="stylesheet">



<section id="content">
	<div class="container" id="bladder">
		<div class="row">
			<div class="col-sm-3">
			
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="#tab1">Bladder Cancer</a></li>
						<li class=""><a href="#tab2">Symptoms</a></li>
						<li class=""><a href="#tab3">Stages</a></li>
						<li class=""><a href="#tab4">Treatment Techniques</a></li>
						
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
	
	
		<div class="col-sm-9" style="text-align: justify;">

				<div class="left wow fadeInDown" id="tab1">
					<h2>What is Bladder Cancer ?</h2>
					
					
					<p class="lead" >Cancer that forms in tissues of the bladder
						(the organ that stores urine). Most bladder cancers are
						transitional cell carcinomas (cancer that begins in cells that
						normally make up the inner lining of the bladder). Other types
						include squamous cell carcinoma (cancer that begins in thin, flat
						cells) and adenocarcinoma (cancer that begins in cells that make
						and release mucus and other fluids). The cells that form squamous
						cell carcinoma and adenocarcinoma develop in the inner lining of
						the bladder as a result of chronic irritation and inflammation.</p>
				</div>
				<br>
			

				<div class="left wow fadeInDown" id="tab2">
					<h2>What Are the Symptoms of Bladder Cancer ?</h2>
					<p class="lead">The most common symptoms of bladder cancer
						include:</p>
					<ul class="lead">
						<li>Blood or blood clots in the urine (hematuria). Hematuria
							occurs in 8 or 9 out of 10 people who have bladder cancer and is
							the most common symptom. Usually it isn't painful.</li>
						<li>Pain during urination (dysuria).</li>
						<li>Urinating small amounts frequently.</li>
						<li>Frequent urinary tract infections (UTIs).</li>
					</ul>
					<p class="lead">Symptoms that may indicate more advanced
						bladder cancer include:</p>
					<ul class="lead">
						<li>Pain in the lower back around the kidneys (flank pain).</li>
						<li>Swelling in the lower legs.</li>
						<li>A growth in the pelvis near the bladder (pelvic mass).</li>
					</ul>
					<p class="lead">Other symptoms that may develop when bladder
						cancer has spread include:</p>
					<ul class="lead">
						<li>Weight loss.</li>
						<li>Bone pain or pain in the rectal, anal, or pelvic area.</li>
						<li>Anemia.</li>
					</ul>
				</div>
				<br>

				<div class="left wow fadeInDown" id="tab3">
					<h2>Stages of Bladder Cancer</h2>
					<p class="lead">
						There are five stages of bladder cancer, stages 0 to IV as
						follows: <br />
					</p>
					<ul class="lead">
						<li><b>Stage 0:</b><br /> Cancer cells are only on the
							surface of the inner layer of the bladder. This may be called
							carcinoma in situ.</li>
						<li><b>Stage I:</b><br /> Cancer has grown deeper into the
							inner layer but not into the muscle layer.</li>
						<li><b>Stage II:</b><br /> Cancer has grown into the muscle
							layer of the bladder.</li>
						<li><b>Stage III:</b><br /> Cancer has grown through the
							muscle layer and into nearby organs, such as the prostate,
							uterus, or vagina.</li>
						<li><b>Stage IV:</b><br /> Cancer has grown into the wall of
							the pelvis or the belly but not into any lymph nodes. Or the
							cancer has spread into at least one lymph node or to another part
							of the body, such as the liver, lungs, or bones.</li>
					</ul>
				</div>
				<br>
				
					<div class="left wow fadeInDown">
                <img class="img-responsive" src="images/bladdercancer_stage.jpg" alt="">	
                
            </div> <br>

				<div class="left wow fadeInDown" id="tab4">
					<h2>Treatment Techniques</h2>
					<p class="lead">
						The Bladder cancer can be treated by various treatment techniques
						depending on the stage of the cancer. <br />
					</p>
					<p class="lead">
						<b><h3>Prescription</h3></b>
					</p>
					<p class="lead">
						<b>Vaccine:</b> Bacillus calmette-Guerin substrain tice live
						antigen extract by injection
					</p>
					<p class="lead">
						<b>Other treatments:</b> Vinblastine by injection, Cisplatin by
						injection (Platinol-AQ), Gemcitabine by injection (Gemzar),
						Mitomycin
					</p>
					<p class="lead">
						<b><h3>Also common</h3></b>
					</p>
					<p class="lead">
						<b>Procedures:</b> Urinary diversion, Radiation therapy
					</p>
					<p class="lead">
						<b>Other treatments:</b> Ureterosigmoidostomy, Cystourethrectomy,
						Cystoprostatectomy, Cystectomy, Ureterostomy
					</p>
					<p class="lead">
						<b><h3>Specialists</h3></b>
					</p>
					<p class="lead">
						<b>Oncologist:</b> Specializes in cancer
					</p>
					<p class="lead">
						<b>Radiologist: </b> Uses images to diagnose and treat disease
						within the body.
					</p>
					<p class="lead">
						<b>Urologist: </b> Treats urinary tract diseases.
					</p>
					<p class="lead">
						<b>Radiation oncologist: </b> Treats and manages cancer by
						prescribing radiation therapy.
					</p>
					<br> <br> <br> <br>
				</div>

			</div>
		</div>
			</div>

		<div class="row">
			<div class="features">
				<div class="col-md-4 col-sm-6 wow fadeInDown"
					data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa">BC</i> <a href="breast-cancer"><h2>Breast
								Cancer</h2></a>
						<h3>A cancer that forms in the cells of the breasts</h3>
					</div>
				</div>
				<!--/.col-md-4-->

				<div class="col-md-4 col-sm-6 wow fadeInDown"
					data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa">CC</i> <a href="colorectal-cancer"><h2>Colorectal
								Cancer</h2></a>
						<h3>Cancer that forms in the tissues of the colon or rectum</h3>
					</div>
				</div>
				<!--/.col-md-4-->

				<div class="col-md-4 col-sm-6 wow fadeInDown"
					data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa">LC</i> <a href="lung-cancer"><h2>Lung
								Cancer</h2></a>
						<h3>A cancer that begins in the lungs, common with people who
							smoke</h3>
					</div>
				</div>
				<!--/.col-md-4-->

				<div class="col-md-4 col-sm-6 wow fadeInDown"
					data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa">BC</i> <a href="bladder-cancer"><h2>Bladder
								Cancer</h2></a>
						<h3>Cancer that begins in the bladder</h3>
					</div>
				</div>
				<!--/.col-md-4-->

				<div class="col-md-4 col-sm-6 wow fadeInDown"
					data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa">VC</i> <a href="vulvar-cancer"><h2>Vulvar
								Cancer</h2></a>
						<h3>A cacner that begins in the vulva</h3>
					</div>
				</div>
				<!--/.col-md-4-->

				<div class="col-md-4 col-sm-6 wow fadeInDown"
					data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa">PC</i> <a href="prostate-cancer"><h2>Prostate
								Cancer</h2></a>
						<h3>A cacner that begins in the prostate</h3>
					</div>
				</div>
				<!--/.col-md-4-->
			</div>
			<!--/.services-->
		</div>
		<!--/.row-->


		<div class="get-started center wow fadeInDown">
			<h2>Looking for someother type of cancer ?</h2>
			<p class="lead">
				If you want to know about someother type of cancer,<br /> click on
				the following link and search for the cancer you want.
			</p>
			<div class="request">
				<h4>
					<a href="http://www.cancer.org/cancer/index">Follow this link !</a>
				</h4>
			</div>
		
		<!--/.get-started-->


	</div>
	<!--/.container-->
</section>

<!--/#feature-->


<% include footer %>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/main.js"></script>
<script src="js/wow.min.js"></script>


</body>
</html>