<% include header %>
<link href="css/NavCancerInfo.css" rel="stylesheet">



<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="#tab1">Bladder Cancer</a></li>
						<li class=""><a href="#tab2">Symptoms</a></li>
						<li class=""><a href="#tab3">Stages</a></li>
						<li class=""><a href="#tab4">Treatment Techniques</a></li>
						
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
	
	
		<div class="col-sm-9" style="text-align: justify;">
		
           <div class="left wow fadeInDown" id="tab1">
                <h2>What is Breast Cancer ?</h2>
                 <p class="lead">Breast cancer is a malignant tumor that starts in the cells of the breast. A malignant tumor is a group of cancer cells that can grow into (invade) surrounding tissues or spread (metastasize) to distant areas of the body. The disease occurs almost entirely in women, but men can get it, too.</p>
               <p class="lead">The most common type of breast cancer is ductal carcinoma, which begins in the lining of the milk ducts (thin tubes that carry milk from the lobules of the breast to the nipple). Another type of breast cancer is lobular carcinoma, which begins in the lobules (milk glands) of the breast. Invasive breast cancer is breast cancer that has spread from where it began in the breast ducts or lobules to surrounding normal tissue.</p>
           
            </div> <br>
            
            <div class="left wow fadeInDown" id="tab2">
            
            <div class="left wow fadeInDown">
                <img class="img-responsive" src="images/breastcancer_symptom.jpg" alt="">	
                
            </div> <br>
            
                <h2>What Are the Symptoms of Breast Cancer ?</h2>
              
                
                <p class="lead">In its early stages, breast cancer usually has no symptoms. As a tumor develops, you may note the following signs: </p>
                <ul class="lead">
                    <li>A lump in the breast or underarm that persists after your menstrual cycle. This is often the first apparent symptom of breast cancer. Lumps associated with breast cancer are usually painless, although some may cause a prickly sensation. Lumps are usually visible on a mammogram long before they can be seen or felt. </li>
                    <li>Swelling in the armpit. </li>
                    <li>Pain or tenderness in the breast. Although lumps are usually painless, pain or tenderness can be a sign of breast cancer. </li>
                    <li>A noticeable flattening or indentation on the breast, which may indicate a tumor that cannot be seen or felt. </li>
                    <li>Any change in the size, contour, texture, or temperature of the breast. A reddish, pitted surface like the skin of an orange could be a sign of advanced breast cancer. </li>
                    <li>A change in the nipple, such as a nipple retraction, dimpling, itching, a burning sensation, or ulceration. A scaly rash of the nipple is symptomatic of Paget's disease, which may be associated with an underlying breast cancer. </li>
                    <li>Unusual discharge from the nipple that may be clear, bloody, or another color. It's usually caused by benign conditions but could be due to cancer in some cases. </li>
                    <li>A marble-like area under the skin. </li>
                    <li>An area that is distinctly different from any other area on either breast. </li>
                </ul>
               
            </div> <br>
            
            
            <div class="left wow fadeInDown" id="tab3">
                <h2>Stages of Breast Cancer</h2>
                <p class="lead">There are five stages of breast cancer as follows: <br /> </p>
                <ul class="lead">
                    <li><b>Stage 0 Breast Cancer:</b><br />Stage 0 breast cancer is early stage cancer. </li>
                    <li><b>Stage 1 Breast Cancer:</b><br />In Stage 1 breast cancer, the cancer is still considered in an early stage. </li>
                    <li><b>Stage 2 Breast Cancer:</b><br />In stage 2 breast cancer, the cancer is in the breast and may also be in nearby lymph nodes. </li>
                    <li><b>Stage 3 Breast Cancer:</b><br />In stage 3 breast cancer, cancer hasn’t spread far beyond the breast and nearby lymph nodes. </li>
                    <li><b>Stage 4 Breast Cancer:</b><br />In stage 4 breast cancer, cancer has spread beyond the breast and nearby lymph nodes to other parts of the body. </li>
                </ul>
            </div> <br>
            
            <div class="left wow fadeInDown">
                <img class="img-responsive" src="images/breastcancer_stages.jpg" alt="">	
                
            </div> <br>
            
            <div class="left wow fadeInDown" id="tab4">
                <h2>Treatment Techniques</h2>
                <p class="lead">The breast cancer can be treated by various treatment techniques depending on the stage of the cancer. <br /> </p>
                <p class="lead"><b><h3>Prescription</h3></b></p>
                <p class="lead"><b>Hormones: </b> Tamoxifen (Soltamox) </p>
                <p class="lead"><b>Other treatments: </b> Exemestane (Aromasin), Docetaxel by injection (Docefrez), Capecitabine (Xeloda), Letrozole (Femara), Cyclophosphamide by injection, Anastrozole (Arimidex), Paclitaxel by injection (Taxol), Zoledronic acid by injection (Zometa), Trastuzumab by injection, Epirubicin by injection (Ellence) </p>
                <p class="lead"><b><h3>Also common </h3></b></p>
                <p class="lead"><b>Chemotherapy regimen:</b> AC regimen, FEC regimen, Doxorubicin-Docetaxel regimen, TCH regimen, AC-T regimen, TAC regimen </p>
                <p class="lead"><b>Procedures:</b> Lumpectomy, Radiation therapy, Breast surgery, Radical mastectomy, Mastectomy, Wide local excision, External beam radiotherapy, Mammaplasty, Tissue expansion, Neoadjuvant therapy, Breast-Conserving surgery, Lymphadenectomy </p>
                <p class="lead"><b>Other treatments: </b> Hormone therapy </p>
                <p class="lead"><b><h3>Specialists </h3></b></p>
                <p class="lead"><b>Oncologist:</b> Specializes in cancer</p>
                <p class="lead"><b>Radiologist: </b> Uses images to diagnose and treat disease within the body. </p>
                <p class="lead"><b>Radiation oncologist: </b> Treats and manages cancer by prescribing radiation therapy.</p>
                <p class="lead"><b>Plastic surgeon: </b> Reconstructs defective, damaged, or missing body parts. </p>
                <p class="lead"><b>Surgeon: </b> Performs operations to treat disease. </p> <br> <br> <br> <br>
            </div>
            </div>
			</div>
            

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">BC</i>
                            <a href="breast-cancer"><h2>Breast Cancer</h2></a>
                            <h3>A cancer that forms in the cells of the breasts </h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">CC</i>
                            <a href="colorectal-cancer"><h2>Colorectal Cancer</h2></a>
                            <h3>Cancer that forms in the tissues of the colon or rectum</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">LC</i>
                            <a href="lung-cancer"><h2>Lung Cancer</h2></a>
                            <h3>A cancer that begins in the lungs, common with people who smoke</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">BC</i>
                            <a href="bladder-cancer"><h2>Bladder Cancer</h2></a>
                            <h3>Cancer that begins in the bladder</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">VC</i>
                            <a href="vulvar-cancer"><h2>Vulvar Cancer</h2></a>
                            <h3>A cacner that begins in the vulva</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">PC</i>
                            <a href="prostate-cancer"><h2>Prostate Cancer</h2></a>
                            <h3>A cacner that begins in the prostate</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row--> 


            <div class="get-started center wow fadeInDown">
                <h2>Looking for someother type of cancer ?</h2>
                <p class="lead">If you want to know about someother type of cancer,<br /> click on the following link and search for the cancer you want.</p>
                <div class="request">
                    <h4><a href="http://www.cancer.org/cancer/index">Follow this link !</a></h4>
                </div>
            </div><!--/.get-started-->

            
        </div><!--/.container-->
    </section><!--/#feature-->

<% include footer %>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>