
<% include header %>
    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Types of Cancer</h2>
                <p class="lead">Here are a few types of cancer that are most common around the world,<br> select any of the following to get more information about them.</p>
            </div>

            <div class="row">
                <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <a href="breast-cancer"><h2>Breast Cancer</h2></a>
                            <h3>A cancer that forms in the cells of the breasts </h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <a href="colorectal-cancer"><h2>Colorectal Cancer</h2></a>
                            <h3>Cancer that forms in the tissues of the colon or rectum</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <a href="lung-cancer"><h2>Lung Cancer</h2></a>
                            <h3>A cancer that begins in the lungs, common with people who smoke</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <a href="bladder-cancer"><h2>Bladder Cancer</h2></a>
                            <h3>Cancer that begins in the bladder</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <a href="vulvar-cancer"><h2>Vulvar Cancer</h2></a>
                            <h3>A cacner that begins in the vulva</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <a href="prostate-cancer"><h2>Prostate Cancer</h2></a>
                            <h3>A cacner that begins in the prostate</h3>
                        </div>
                    </div><!--/.col-md-4-->    
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->
<% include footer %>