<% include header %>
   <link href="css/NavCancerInfo.css" rel="stylesheet">



<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="#tab1">Bladder Cancer</a></li>
						<li class=""><a href="#tab2">Symptoms</a></li>
						<li class=""><a href="#tab3">Stages</a></li>
						<li class=""><a href="#tab4">Treatment Techniques</a></li>
						
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
	
	
		<div class="col-sm-9" style="text-align: justify;">


           <div class="left wow fadeInDown" id="tab1">
                <h2>What is Colon and Rectal Cancer ?</h2>
                <p class="lead"><b>Definition of Colon cancer:</b> Cancer that forms in the tissues of the colon (the longest part of the large intestine). Most colon cancers are adenocarcinomas (cancers that begin in cells that make and release mucus and other fluids).<br><b>Definition of Rectal cancer:</b> Cancer that forms in the tissues of the rectum (the last several inches of the large intestine closest to the anus). </p>
            </div> <br>
            
            <div class="left wow fadeInDown">
                <img class="img-responsive" src="images/colorectalcancer_symptoms.jpg" alt="">	
                
            </div> <br>
            
            <div class="left wow fadeInDown" id="tab2">
                <h2>What Are the Symptoms of Colorectal Cancer ?</h2>
                <p class="lead">In its early stage, colorectal cancer usually produces no symptoms. The most likely warning signs include: </p>
                <ul class="lead">
                    <li>Changes in bowel movements, including persistent constipation or diarrhea, a feeling of not being able to empty the bowel completely, an urgency to move the bowels, rectal cramping, or rectal bleeding. </li>
                    <li>Dark patches of blood in or on stool; or long, thin, "pencil stools". </li>
                    <li>Abdominal discomfort or bloating. </li>
                    <li>Unexplained fatigue, loss of appetite, and/or weight loss. </li>
                    <li>Pelvic pain, which occurs at later stages of the disease. </li>
                </ul>
            </div> <br>
            
            <div class="left wow fadeInDown" id="tab3">
                <h2>Stages of Colorectal Cancer</h2>
                <p class="lead">Colon and rectal cancer are staged according to how far they have spread through the walls of the colon and rectum and whether they have spread to other parts of the body. This staging process allows doctors to determine the best treatments for the particular cancer. It also allows them to determine if the cancer is getting better with treatment or not responding.<br /> </p>
                <p class="lead"><b>Staging Colon Cancer</b></p>
                <ul class="lead">
                    <li><b>Stage 0:</b><br />Stage 0 cancer of the colon is very early cancer. The cancer is found only in the innermost lining of the colon. </li>
                    <li><b>Stage I:</b><br />The cancer has spread beyond the innermost lining of the colon to the second and third layers and involves the inside wall of the colon. The cancer has not spread to the outer wall of the colon or outside the colon.</li>
                    <li><b>Stage II:</b><br />The tumor extends through the muscular wall of the colon, but there is no cancer in the lymph nodes (small structures that are found throughout the body that produce and store cells that fight infection). </li>
                    <li><b>Stage III:</b><br />The cancer has spread outside the colon to one or more lymph nodes (small structures that are found throughout the body that produce and store cells that fight infection). </li>
                    <li><b>Stage IV:</b><br />The cancer has spread outside the colon to other parts of the body, such as the liver or the lungs. The tumor can be any size and may or may not include affected lymph nodes (small structures that are found throughout the body that produce and store cells that fight infection). </li>
                </ul>
                <p class="lead"><b>Staging Rectal Cancer</b></p>
                <p class="lead">Rectal cancer is staged much the same way as colon cancer, but because the tumor is much lower down in the colon, the treatment options may vary. </p>
                <ul class="lead">
                    <li><b>Stage 0:</b><br />In stage 0 rectal cancer, the tumor is located only on the inner lining of the rectum. To treat this early stage cancer, surgery can be performed to remove the tumor or a small section of the rectum where the cancer is located can be removed. </li>
                    <li><b>Stage I:</b><br />This is an early form or limited form of cancer. The tumor has broken through the inner lining of the rectum but has not made it past the muscular wall. </li>
                    <li><b>Stage II:</b><br />This cancer is a little more advanced. The tumor has penetrated all the way through the bowel wall and may have invaded other organs, such as the bladder, uterus, or prostate gland. </li>
                    <li><b>Stage III:</b><br />The tumor has spread to the lymph nodes (small structures that are found throughout the body that produce and store cells that fight infection). </li>
                    <li><b>Stage IV:</b><br />The tumor has spread to distant parts of the body (metastasized). The tumor can be any size and sometimes is not that large. The liver and lung are two favored places for rectal cancer to spread. </li>
                </ul>
            </div> <br>
            <div class="left wow fadeInDown">
                <img class="img-responsive" src="images/colorectalcancer_stages.jpg" alt="">	
                
            </div> <br>
            
            <div class="left wow fadeInDown" id="tab4">
                <h2>Treatment Techniques</h2>
                <p class="lead">The Colonrectal cancer can be treated by various treatment techniques depending on the stage of the cancer. <br /> </p>
                <p class="lead"><b><h3>Prescription</h3></b></p>
                <p class="lead">Cetuximab by injection, Irinotecan by injection, Leucovorin by injection, Oxaliplatin by injection (Eloxatin), Fluorouracil by injection (Adrucil), Capecitabine (Xeloda)</p>
                <p class="lead"><b><h3>Also common </h3></b></p>
                <p class="lead"><b>Chemotherapy regimen:</b> IFL-Bevacizumab regimen, FOLFIRI regimen, IFL regimen, XELOX regimen, FOLFIRI-Bevacizumab regimen </p>
                <p class="lead"><b>Procedures:</b> Colectomy, Proctocolectomy, Bowel resection, Radiation therapy, External beam radiotherapy, Laparoscopic surgery, Lymphadenectomy, Neoadjuvant therapy </p>
                <p class="lead"><b><h3>Specialists </h3></b></p>
                <p class="lead"><b>Oncologist:</b> Specializes in cancer</p>
                <p class="lead"><b>Radiologist: </b> Uses images to diagnose and treat disease within the body. </p>
                <p class="lead"><b>Gastroenterologist: </b> Focuses on the digestive system and its disorders. </p>
                <p class="lead"><b>Pathologist: </b> Diagnoses disease by examining body cells, fluids, and tissues. </p>
                <p class="lead"><b>Surgeon: </b> Performs operations to treat disease. </p> <br> <br> <br> <br>
            </div>
            </div>
			</div>
            

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">BC</i>
                            <a href="breast-cancer"><h2>Breast Cancer</h2></a>
                            <h3>A cancer that forms in the cells of the breasts </h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">CC</i>
                            <a href="colorectal-cancer"><h2>Colorectal Cancer</h2></a>
                            <h3>Cancer that forms in the tissues of the colon or rectum</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">LC</i>
                            <a href="lung-cancer"><h2>Lung Cancer</h2></a>
                            <h3>A cancer that begins in the lungs, common with people who smoke</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">BC</i>
                            <a href="bladder-cancer"><h2>Bladder Cancer</h2></a>
                            <h3>Cancer that begins in the bladder</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">VC</i>
                            <a href="vulvar-cancer"><h2>Vulvar Cancer</h2></a>
                            <h3>A cacner that begins in the vulva</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">PC</i>
                            <a href="prostate-cancer"><h2>Prostate Cancer</h2></a>
                            <h3>A cacner that begins in the prostate</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row--> 


            <div class="get-started center wow fadeInDown">
                <h2>Looking for someother type of cancer ?</h2>
                <p class="lead">If you want to know about someother type of cancer,<br /> click on the following link and search for the cancer you want.</p>
                <div class="request">
                    <h4><a href="http://www.cancer.org/cancer/index">Follow this link !</a></h4>
                </div>
            </div><!--/.get-started-->

            
        </div><!--/.container-->
    </section><!--/#feature-->

    <% include footer %>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>