<% include header %>

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url(images/slider/bgc1.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <!--<h2 class="animation animated-item-1"><font color="black">Genetic Variants Could Help Direct Breast Cancer Prevention Therapy</font></h2>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>-->
                                    <a class="btn-slide animation animated-item-3" href="http://newsatjama.jama.com/2013/06/13/genetic-variants-could-help-direct-breast-cancer-prevention-therapy/">Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <!--  img src="images/slider/img1.png" class="img-responsive">-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(images/slider/bgc2.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                   <!--<h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                   <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>-->
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <!-- img src="images/slider/img2.png" class="img-responsive"> -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(images/slider/bgc3.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                   <!-- <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                   <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>-->
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <!-- img src="images/slider/img3.png" class="img-responsive"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Types of Cancer</h2>
                <p class="lead">Here are a few types of cancer that are most common around the world,<br> select any of the following to get more information about them.</p>
            </div>

            <div class="row">
                <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <a href="breast-cancer"><h2>Breast Cancer</h2></a>
                            <h3>A cancer that forms in the cells of the breasts </h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <a href="colorectal-cancer"><h2>Colorectal Cancer</h2></a>
                            <h3>Cancer that forms in the tissues of the colon or rectum</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <a href="lung-cancer"><h2>Lung Cancer</h2></a>
                            <h3>A cancer that begins in the lungs, common with people who smoke</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <a href="bladder-cancer"><h2>Bladder Cancer</h2></a>
                            <h3>Cancer that begins in the bladder</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <a href="vulvar-cancer"><h2>Vulvar Cancer</h2></a>
                            <h3>A cancer that begins in the vulva</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <a href="prostate-cancer"><h2>Prostate Cancer</h2></a>
                            <h3>A cancer that begins in the prostate</h3>
                        </div>
                    </div><!--/.col-md-4-->    
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->

    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Follow Recent Research</h2>
                <p class="lead">Cancer can take away all of my physical abilities.<br> It cannot touch my mind, it cannot touch my heart, and it cannot touch my soul. – Jim Valvano</p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item1.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">What to Know about Cancer Biology?</a> </h3>
                                <p>Dr. Glenn Begley - The Complex Biology of Cancer</p>
                                <a class="preview" href="https://www.youtube.com/watch?v=TpALjMJEb50" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item2.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">What is Cancer?</a></h3>
                                <p>Cancer is a term used for diseases in which abnormal cells divide without control and are able to invade other tissues. </p>
                                <a class="preview" href="https://www.youtube.com/watch?v=SGaQ0WwZ_0I" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item3.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">William Li: Can we eat to starve cancer?</a></h3>
                                <p>William Li presents a new way to think about treating cancer and other diseases: anti-angiogenesis ...</p>
                                <a class="preview" href="https://www.youtube.com/watch?v=OjkzfeJz66o" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item4.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Colon Cancer: Don't Ignore Your Symptoms</a></h3>
                                <p>It took losing her mother to colon cancer to prompt Alyson Smith ...</p>
                                <a class="preview" href="www.youtube.com/watch?v=ljmJdvons7Q" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item5.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">David Agus: A new strategy in the war on cancer</a></h3>
                                <p>Too often, says David Agus cancer treatments have a short-sighted</p>
                                <a class="preview" href="https://www.youtube.com/watch?v=IRxgDMSp9Gs" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item6.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Breast cancer - Symptoms and treatment</a></h3>
                                <p>Breast cancer is the most common form of cancer in women.</p>
                                <a class="preview" href="https://www.youtube.com/watch?v=VsviAPGfPUo" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item7.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">How to Fight Cancer</a></h3>
                                <p>How to Fight Cancer reveals the natural ways to fight this condition and why the medical model is failing...</p>
                                <a class="preview" href="https://www.youtube.com/watch?v=NqUUlhdd1Vk" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item8.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Understanding Chemotherapy</a></h3>
                                <p>Chemotherapy is a drug treatment that uses powerful chemicals to kill fast-growing cells in your body</p>
                                <a class="preview" href="https://www.youtube.com/watch?v=p1xLMxIEjKw" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->

    <section id="services" class="service-item">
	   <div class="container">
            <div class="center wow fadeInDown">
                <h2>Our Services</h2>
                <!--p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p-->
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                           <a href="/screening"> <img class="img-responsive" src="images/services/services3.png"></a>
                        </div>
                        <div class="media-body">
                            <a href="/screening"><h3 class="media-heading">Screening Guidance </h3></a>
                            <p>Get screening guidance based on symptoms</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                        <%if(session1!=""){%>
                           <a href="/trackSymptoms"> <img class="img-responsive" src="images/services/services5.png"></a>
                           <%}else{%>
                           	<a href="#signin" data-toggle="modal"> <img class="img-responsive" src="images/services/services5.png"></a>
                           	<%}%>
                        </div>
                        <div class="media-body">
                        <%if(session1!=""){%>
                            <a href="/trackSymptoms"><h3 class="media-heading">Track Symtpoms</h3></a>
                            <%}else{%>
                            <a href="#signin" data-toggle="modal"><h3 class="media-heading">Track Symtpoms</h3></a>
                            <%}%>
                            <p>Track your daily symtpoms</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                           <a href="/maps"> <img class="img-responsive" src="images/services/services2.png"></a>
                        </div>
                        <div class="media-body">
                           <a href="/maps"> <h3 class="media-heading">Find Nearest Hospital</h3></a>
                            <p>Get list of nearest hospitals to any area</p>
                        </div>
                    </div>
                </div>  

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                           <a href="/cancerinfo">  <img class="img-responsive" src="images/services/services4.png"></a>
                        </div>
                        <div class="media-body">
                            <a href="/cancerinfo"> <h3 class="media-heading">Cancer Information</h3></a>
                            <p>Get information about various types of cancer </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <a href="/visualization"> <img class="img-responsive" src="images/services/services1.png"></a>
                        </div>
                        <div class="media-body">
                             <a href="/visualization"><h3 class="media-heading">Cancer Statistics</h3></a>
                            <p>Get information on cancer statistics and Graphs</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                           <a href="/taxanomy"> <img class="img-responsive" src="images/services/services6.png"></a>
                        </div>
                        <div class="media-body">
                            <a href="/taxanomy"><h3 class="media-heading">Cancer Taxanomy</h3></a>
                            <p>Get meaning of cancer medical terms and glossary</p>
                        </div>
                    </div>
                </div>                                                
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInDown">
                    <div class="skill">
                        <h2>Cancer Statistics Highlights </h2>
                        <p>Each year, the American Cancer Society estimates the numbers of new cancer cases and deaths that will occur in the United States in the current year and compiles the most recent data on cancer incidence, mortality, and survival.</p>
                        <div class="progress-wrap">
                            <h3>Most privelent cancer: Lung , Prostate and Colorectal Cancers </h3>
                            <div class="progress">
                              <div class="progress-bar  color1" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                <span class="bar-width">45%</span>
                              </div>

                            </div>
                        </div>

                        <div class="progress-wrap">
                            <h3>Females affected by Breast Cancer</h3>
                            <div class="progress">
                              <div class="progress-bar color2" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                               <span class="bar-width">25%</span>
                              </div>
                            </div>
                        </div>

                        <div class="progress-wrap">
                            <h3>New Cancer Cases: Africa, Asia, South America</h3>
                            <div class="progress">
                              <div class="progress-bar color3" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                <span class="bar-width">70%</span>
                              </div>
                            </div>
                        </div>

                        <div class="progress-wrap">
                            <h3>Usage of Tobacoo causes death amongst</h3>
                            <div class="progress">
                              <div class="progress-bar color4" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                <span class="bar-width">20%</span>
                              </div>
                            </div>
                        </div>
                    </div>

                </div><!--/.col-sm-6-->

                <div class="col-sm-6 wow fadeInDown">
                    <div class="accordion">
                        <h2>Cancer Surviors Blogs</h2>
                        <div class="panel-group" id="accordion1">
                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                  Marie Botchie
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">
                                  <div class="media accordion-inner">
                                        <div class="pull-left">
                                            <img class="img-responsive" src="images/accordion1.png">
                                        </div>
                                        <div class="media-body">
                                             <h4>Marie Botchie: Stage IIIB</h4>
                                             <p>When I found out that I had cancer, I decided that I was going to make cancer the best thing that ever happened to me, not the worst. At 39 years old I was diagnosed with stage IIIB breast cancer and had a double mastectomy <a href="http://www.cancercenter.com/community/survivors/marie-botchie/">read more</a></p>
                                        </div>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                 Wayne Reeder
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">
                               <div class="media accordion-inner">
                                        <div class="pull-left">
                                            <img class="img-responsive" src="images/accordion2.png">
                                        </div>
                                        <div class="media-body">
                                             <h4>Wayne Reeder: Leukemia</h4>
                                             <p>Thanksgiving Day of 2011 was the first big turning point in my fight with cancer. I was sitting at the dinner table with my wife, Linda, and our two sons,  <a href="http://www.cancercenter.com/community/survivors/wayne-reeder/">read more</a></p>
                                        </div>
                                </div> 
                               </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                  Phil Bosanko
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
                              <div class="media accordion-inner">
                                        <div class="pull-left">
                                            <img class="img-responsive" src="images/accordion3.png">
                                        </div>
                                        <div class="media-body">
                                             <h4> Phil Bosanko: Colorectal cancer - Stage IV</h4>
                                             <p>In May 2006, I was 48 and busy living life to the fullest. I was working, enjoying life with my bride Kim, and spending my spare time woodworking, fishing,   <a href="http://www.cancercenter.com/community/survivors/phil-bosanko/">read more</a></p>
                                        </div>
                               </div> 
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                  Sherry Scoffield
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFour1" class="panel-collapse collapse">
                              <div class="panel-body">
                              	<h4>  Sherry Scoffield- Uterine cancer - Stage III</h4>
                                <p>The thought that I might have cancer never crossed my mind when I first started experiencing some symptoms.  I was 55 years old and   <a href="http://www.cancercenter.com/community/survivors/sherry-scoffield/">read more</a></p>
                              </div>
                            </div>
                          </div>
                        </div><!--/#accordion1-->
                    </div>
                </div>

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#middle-->

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 wow fadeInDown">
                   <div class="tab-wrap"> 
                        <div class="media">
                            <div class="parrent pull-left">
                                <ul class="nav nav-tabs nav-stacked">
                                    <li class="active"><a href="#tab1" data-toggle="tab" class="analistic-01">Colon Cancer</a></li>
                                    <li class=""><a href="#tab2" data-toggle="tab" class="analistic-02">Cancer free tommrow</a></li>
                                    <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">Body weight and cancer risk</a></li>
                                    <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">True cost of smoking</a></li>
                                    <li class=""><a href="#tab5" data-toggle="tab" class="tehnical">Myths of cancer</a></li>
                                </ul>
                            </div>

                            <div class="parrent media-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="tab1">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="images/tab1.png">
                                            </div>
                                            <div class="media-body">
                                                 <h2>Colon Cancer: Catching It Early</h2>
                                                 <p>Infographic: The benefits of catching colon cancer early and the steps you can take to prevent it altogether.</p>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="tab-pane fade" id="tab2">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="images/tab2.png">
                                            </div>
                                            <div class="media-body">
                                                 <h2>Prevention Studies for a Cancer-Free Tomorrow</h2>
                                                 <p>Infographic: The contributions and process of our cancer prevention studies and what we hope to learn from future studies.
                                                 </p>
                                            </div>
                                        </div>
                                     </div>

                                     <div class="tab-pane fade" id="tab3">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="images/tab3.png">
                                            </div>
                                            <div class="media-body">
                                                 <h2>Body Weight & Cancer Risk</h2>
                                                 <p>Infographic: Current research that shows the significant cancer risk of excess body weight, poor nutrition and physical inactivity.
                                                 </p>
                                            </div>
                                        </div>
                                     </div>

                                     <div class="tab-pane fade" id="tab4">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="images/tab4.png">
                                            </div>
                                            <div class="media-body">
                                                 <h2>Tobacco: The True Cost of Smoking</h2>
                                                 <p>Infographic: The significant harm, both financial and physical, that tobacco use causes to the smoker and to society at large.
                                                 </p>
                                            </div>
                                        </div>
                                     </div>

                                     <div class="tab-pane fade" id="tab5">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="images/tab5.png">
                                            </div>
                                            <div class="media-body">
                                                 <h2>Myth: Only women with a family history of breast cancer are at risk.</h2>
                                                 <p>Reality: Roughly 70% of women diagnosed with breast cancer have no identifiable risk factors for the disease.
                                                 </p>
                                            </div>
                                        </div>
                                     </div>
                                </div> <!--/.tab-content-->  
                            </div> <!--/.media-body--> 
                        </div> <!--/.media-->     
                    </div><!--/.tab-wrap-->               
                </div><!--/.col-sm-6-->

                <div class="col-xs-12 col-sm-4 wow fadeInDown">
                    <div class="testimonial">
                        <h2>Latest News</h2>
                            <div class="media testimonial-inner">
                          <div class="pull-left">
                               
                            </div>
                            <div class="media-body">
                                <p>New test can predict cancer up to 13 years before disease develops</p>
                                <span><strong>-Telegraph.co.uk </strong><a href="http://www.telegraph.co.uk/news/11574893/New-test-can-predict-cancer-up-to-13-years-before-disease-develops.html" >View</a></span>
                            </div>
                         </div>

                         <div class="media testimonial-inner">
                            <div class="pull-left">
                                
                            </div>
                            <div class="media-body">
                                <p>The Great Success And Enduring Dilemma Of Cervical Cancer Screening</p>
                                <span><strong>-Npr.org </strong> <a href="http://www.npr.org/blogs/health/2015/04/30/398872421/the-great-success-and-enduring-dilemma-of-cervical-cancer-screening">View</a></span>
                            </div>
                         </div>
                    </div>
                </div>

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->

    <section id="partner">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Cancer Institutes</h2>
                <p class="lead">Helping patients win the fight against cancer for past 20 years</p>
            </div>    

            <div class="partners">
                <ul>
                    <li> <a href="http://www.cancer.gov/"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="images/partners/1.png"></a></li>
                    <li> <a href="http://www.cancer.org/"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="images/partners/2.png"></a></li>
                    <li> <a href="http://www.aicr.org/"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="images/partners/3.png"></a></li>
                    <li> <a href="http://www.nih.gov/"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="images/partners/4.png"></a></li>
                    <li> <a href="http://www.cancerresearch.org/"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="images/partners/5.png"></a></li>
                </ul>
            </div>        
        </div><!--/.container-->
    </section><!--/#partner-->

    <section id="conatcat-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h2>Have a question or need a help?</h2>
                            <p>You are welcome to call anytime.  If you receive a recording, please leave your name and contact number and one of our counselors will call you as soon as possible.<br>
                            Cancer Support Helpline: +01888 793 9355</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->    
    </section><!--/#conatcat-info-->

    
   <% include footer %>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>