<% include header %>
   <link href="css/NavCancerInfo.css" rel="stylesheet">



<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="#tab1">Bladder Cancer</a></li>
						<li class=""><a href="#tab2">Symptoms</a></li>
						<li class=""><a href="#tab3">Stages</a></li>
						<li class=""><a href="#tab4">Treatment Techniques</a></li>
						
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
	
	
		<div class="col-sm-9" style="text-align: justify;">

           <div class="left wow fadeInDown" id="tab1">
                <h2>What is Lung Cancer ?</h2>
                <p class="lead">Cancer that forms in tissues of the lung, usually in the cells lining air passages. The two main types are small cell lung cancer and non-small cell lung cancer. These types are diagnosed based on how the cells look under a microscope</p>
            </div> <br>
             <div class="left wow fadeInDown">
                <img class="img-responsive" src="images/lungcancer_symptom.jpg" alt="">	
                
            </div> <br>
            
            <div class="left wow fadeInDown" id="tab2">
            
                <h2>What Are the Symptoms of Lung Cancer ?</h2>
                <p class="lead">In its early stages, lung cancer normally has no symptoms. When symptoms start to appear, they are usually caused by blocked breathing passages or the spread of cancer further into the lung, surrounding structures, other parts of the body. Lung cancer symptoms may include: </p>
                <ul class="lead">
                    <li>Chronic, hacking, raspy coughing, sometimes with blood-streaked mucus. </li>
                    <li>Recurring respiratory infections, including bronchitis or pneumonia. </li>
                    <li>Increasing shortness of breath, wheezing, persistent chest pain. </li>
                    <li>Hoarseness. </li>
                    <li>Swelling of the neck and face. </li>
                    <li>Pain and weakness in the shoulder, arm, or hand. </li>
                    <li>Fatigue, weakness, loss of weight and appetite, intermittent fever, severe headaches, and body pain. </li>
                    <li>Difficulty swallowing. </li>
                </ul>
            </div> <br>
            
            <div class="left wow fadeInDown" id="tab3">
                <h2>Staging of Lung Cancer</h2>
                <p class="lead">The stage of a tumor refers to the extent to which lung cancer has spread in the body. Staging involves both evaluation of a tumor's size, as well as the presence or absence of metastases in the lymph nodes or in other organs. Staging is important for determining how a particular tumor should be treated. Staging of a tumor is also critical in estimating the prognosis of a given patient, with higher-stage tumors having a worse prognosis than lower-stage tumors. </p>
                <p class="lead">Doctors use several tests to accurately stage lung cancer, including blood tests, X-rays, CT scans, bone scans, and PET scans. An abnormal blood chemistry test may signal the presence of metastases in the bone or liver. Radiological procedures document the size of a tumor, as well as its spread to other organs. <br /> </p>
                <p class="lead">Non-small cell lung cancers (NSCLC) are assigned a stage from I to IV in order of severity. </p>
                <ul class="lead">
                    <li>In stage I, the cancer is confined to the lung. </li>
                    <li>In stages II and III, the cancer is confined to the lung and, possibly, the lymph nodes. </li>
                    <li>Stage IV cancer has spread outside of the lung to other parts of the body. </li>
                </ul>
                <p class="lead">Small cell lung cancers (SCLC) are staged using a two-tiered system: </p>
                <ul class="lead">
                <li>Limited stage (LS) SCLC refers to cancer that is confined to its area of origin in the lung and lymph nodes. </li>
                    <li>In extensive-stage (ES) SCLC, the cancer has spread beyond the lung to other parts of the body. </li>
                </ul>
            </div> <br>
            <div class="left wow fadeInDown">
                <img class="img-responsive" src="images/lungcancer_stage.jpeg" alt="">	
                
            </div> <br>
            <div class="left wow fadeInDown" id="tab4">
                <h2>Treatment Techniques</h2>
                <p class="lead">The Lung cancer can be treated by various treatment techniques depending on the stage of the cancer. <br /> </p>
                <p class="lead"><b><h3>Prescription</h3></b></p>
                <p class="lead">Ifosfamide by injection (Ifex), Erlotinib (Tarceva), Irinotecan by injection, Crizotinib, Gemcitabine by injection (Gemzar), Topotecan by injection, Etoposide by injection (Toposar), Pemetrexed by injection, Docetaxel by injection (Docefrez), Cisplatin by injection (Platinol-AQ), Carboplatin by injection, Bevacizumab by injection, Vinblastine by injection, Doxorubicin by injection (Adriamycin), Paclitaxel by injection (Taxol), Cyclophosphamide, Methotrexate, Gefitinib (Iressa) </p>
                <p class="lead"><b><h3>Also common </h3></b></p>
                <p class="lead"><b>Chemotherapy regimen:</b> Docetaxel-Gemcitabine regimen </p>
                <p class="lead"><b>Preventive:</b> Smoking cessation </p>
                <p class="lead"><b>Procedures:</b> Radiation therapy, Video-Assisted thoracoscopic surgery, Radiosurgery, Lobectomy, Thoracotomy, Wedge resection </p>
                <p class="lead"><b><h3>Specialists </h3></b></p>
                <p class="lead"><b>Oncologist:</b> Specializes in cancer</p>
                <p class="lead"><b>Radiologist: </b> Uses images to diagnose and treat disease within the body. </p>
                <p class="lead"><b>Palliative medicine: </b>  Focuses on improving quality of life for terminally ill patients. </p>
                <p class="lead"><b>Primary care provider (PCP): </b> Prevents, diagnoses, and treats diseases. </p>
                <p class="lead"><b>Pulmonologist:</b> Treats respiratory tract diseases. </p>
                <p class="lead"><b>Cardiothoracic surgeon: </b> Surgically treats diseases affecting organs inside the chest. </p><br> <br> <br> <br>
            </div>
            </div>
			</div>
            

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">BC</i>
                            <a href="breast-cancer"><h2>Breast Cancer</h2></a>
                            <h3>A cancer that forms in the cells of the breasts </h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">CC</i>
                            <a href="colorectal-cancer"><h2>Colorectal Cancer</h2></a>
                            <h3>Cancer that forms in the tissues of the colon or rectum</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">LC</i>
                            <a href="lung-cancer"><h2>Lung Cancer</h2></a>
                            <h3>A cancer that begins in the lungs, common with people who smoke</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">BC</i>
                            <a href="bladder-cancer"><h2>Bladder Cancer</h2></a>
                            <h3>Cancer that begins in the bladder</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">VC</i>
                            <a href="vulvar-cancer"><h2>Vulvar Cancer</h2></a>
                            <h3>A cacner that begins in the vulva</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">PC</i>
                            <a href="prostate-cancer"><h2>Prostate Cancer</h2></a>
                            <h3>A cacner that begins in the prostate</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row--> 


            <div class="get-started center wow fadeInDown">
                <h2>Looking for someother type of cancer ?</h2>
                <p class="lead">If you want to know about someother type of cancer,<br /> click on the following link and search for the cancer you want.</p>
                <div class="request">
                    <h4><a href="http://www.cancer.org/cancer/index">Follow this link !</a></h4>
                </div>
            </div><!--/.get-started-->

            
        </div><!--/.container-->
    </section><!--/#feature-->


   <% include footer %>
   
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>