
   <% include header %>
   <link href="css/NavCancerInfo.css" rel="stylesheet">



<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="#tab1">Bladder Cancer</a></li>
						<li class=""><a href="#tab2">Symptoms</a></li>
						<li class=""><a href="#tab3">Stages</a></li>
						<li class=""><a href="#tab4">Treatment Techniques</a></li>
						
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
	
	
		<div class="col-sm-9" style="text-align: justify;">

           <div class="left wow fadeInDown" id="tab1">
                <h2>What is Prostate Cancer ?</h2>
                <p class="lead"> Cancer that forms in tissues of the prostate (a gland in the male reproductive system found below the bladder and in front of the rectum). Prostate cancer usually occurs in older men. </p>
            </div> <br>
            
            <div class="left wow fadeInDown">
                <img class="img-responsive" src="images/prostatecancer_symptoms.jpg" alt="">	
                
            </div> <br>
            
            <div class="left wow fadeInDown" id="tab2">
                <h2>What Are the Symptoms of Prostate Cancer ?</h2>
                <p class="lead">There are no warning signs of early prostate cancer. Once a tumor causes the prostate gland to swell, or once cancer spreads beyond the prostate, the following symptoms may happen: </p>
                <ul class="lead">
                    <li>A frequent need to urinate, especially at night. </li>
                    <li>Difficulty starting or stopping a stream of urine. </li>
                    <li>A weak or interrupted urinary stream. </li>
                    <li>Leaking of urine when laughing or coughing. </li>
                    <li>Inability to urinate standing up. </li>
                    <li>A painful or burning sensation during urination or ejaculation. </li>
                    <li>Blood in urine or semen. </li>
                </ul>
                <p class="lead">Symptoms of advanced prostate cancer include: </p>
                <ul class="lead">
                    <li>Dull, deep pain or stiffness in the pelvis, lower back, ribs, or upper thighs; pain in the bones of those areas. </li>
                    <li>Loss of weight and appetite, fatigue, nausea, or vomiting. </li>
                    <li>Swelling of the lower extremities. </li>
                    <li>Weakness or paralysis in the lower limbs, often with constipation. </li>
                </ul>
            </div> <br>
            
            <div class="left wow fadeInDown" id="tab3">
                <h2>Stages of Prostate Cancer</h2>
                <p class="lead">There are four stages of prostate cancer as follows: <br /> </p>
                <ul class="lead">
                    <li><b>Prostate Cancer Stage I:</b><br /> In stage I, prostate cancer is found in the prostate only. Stage I prostate cancer is microscopic; it can’t be felt on a digital rectal exam (DRE), and it isn’t seen on imaging of the prostate. </li>
                    <li><b>Prostate Cancer Stage II:</b><br /> In stage II, the tumor has grown inside the prostate but hasn’t extended beyond it. </li>
                    <li><b>Prostate Cancer Stage III:</b><br /> Stage III prostate cancer has spread outside the prostate, but only barely. Prostate cancer in stage III may involve nearby tissues, like the seminal vesicles. </li>
                    <li><b>Prostate Cancer Stage IV:</b><br /> In stage IV, the cancer has spread (metastasized) outside the prostate to other tissues. Stage IV prostate cancer commonly spreads to lymph nodes, the bones, liver, or lungs. </li>
                </ul>
            </div> <br>
            <div class="left wow fadeInDown">
                <img class="img-responsive" src="images/prostatecancer_stage.jpg" alt="">	
                
            </div> <br>
            
            <div class="left wow fadeInDown" id="tab4">
                <h2>Treatment Techniques</h2>
                <p class="lead">The Prostate cancer can be treated by various treatment techniques depending on the stage of the cancer. <br /> </p>
                <p class="lead"><b><h3>Prescription</h3></b></p>
                <p class="lead"><b>Hormones:</b> Leuprorelin by injection (Lupron), Flutamide (Eulexin), Goserelin by injection (Zoladex), Bicalutamide (Casodex), Nilutamide (Nilandron) </p>
                <p class="lead"><b>Other treatments:</b> Dutasteride (Avodart), Docetaxel by injection (Docefrez), Abiraterone (Zytiga), Zoledronic acid by injection (Zometa), Cabazitaxel by injection </p>
                <p class="lead"><b><h3>Also common </h3></b></p>
                <p class="lead"><b>Procedures:</b> Robotic surgery, Prostatectomy, Radiation therapy, Laparoscopic surgery, Radical retropubic prostatectomy, Radiosurgery, Prostate brachytherapy, Laparoscopic radical prostatectomy, Particle therapy, Brachytherapy, External beam radiotherapy </p>
                <p class="lead"><b>Other treatments:</b> Monitoring of symptoms for change or improvement, Gonadotropin-Releasing hormone analogue, Hormone therapy </p>
                <p class="lead"><b><h3>Specialists </h3></b></p>
                <p class="lead"><b>Oncologist:</b> Specializes in cancer</p>
                <p class="lead"><b>Radiologist: </b> Uses images to diagnose and treat disease within the body. </p>
                <p class="lead"><b>Urologist: </b> Treats urinary tract diseases. </p>
                <p class="lead"><b>Radiation oncologist: </b> Treats and manages cancer by prescribing radiation therapy. </p>
                <p class="lead"><b>Surgeon:</b> Performs operations to treat disease. </p>
                <br> <br> <br> <br>
            </div>
			</div>
			</div>
            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">BC</i>
                            <a href="breast-cancer"><h2>Breast Cancer</h2></a>
                            <h3>A cancer that forms in the cells of the breasts </h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">CC</i>
                            <a href="colorectal-cancer"><h2>Colorectal Cancer</h2></a>
                            <h3>Cancer that forms in the tissues of the colon or rectum</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">LC</i>
                            <a href="lung-cancer"><h2>Lung Cancer</h2></a>
                            <h3>A cancer that begins in the lungs, common with people who smoke</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">BC</i>
                            <a href="bladder-cancer"><h2>Bladder Cancer</h2></a>
                            <h3>Cancer that begins in the bladder</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">VC</i>
                            <a href="vulvar-cancer"><h2>Vulvar Cancer</h2></a>
                            <h3>A cacner that begins in the vulva</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">PC</i>
                            <a href="prostate-cancer"><h2>Prostate Cancer</h2></a>
                            <h3>A cacner that begins in the prostate</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row--> 


            <div class="get-started center wow fadeInDown">
                <h2>Looking for someother type of cancer ?</h2>
                <p class="lead">If you want to know about someother type of cancer,<br /> click on the following link and search for the cancer you want.</p>
                <div class="request">
                    <h4><a href="http://www.cancer.org/cancer/index">Follow this link !</a></h4>
                </div>
            </div><!--/.get-started-->

            
        </div><!--/.container-->
    </section><!--/#feature-->


    <% include footer %>
    
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>