<% include header %>
<!-- Page Content -->
<section id="contact-page">
	<div class="container">
		<!-- Page Heading/Breadcrumbs -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Screening Recommendation
					<small>Get yourself Screened for Cancer</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="/index">Home</a>
					</li>
					<li class="active">Screening Recommendation</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<!-- Contact Form -->
		<!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
		<div class="row">
			<div class="col-md-8">
				<h3>Please enter your details</h3>
				<form name="sentMessage" id="contactForm" method="post" action="/screening">
					<table>
						<div class="control-group form-group">
							<tr> 
								<td>
									<div class="controls">
										<label>Age:</label>
										<!--<input type="text" class="form-control" id="age" name="age" required data-validation-required-message="Please enter your age">  -->
									</td>
									<td>
										<select name="age" required>
											<option value="0-20">0 - 20</option>
											<option value="20-40">20 - 40</option>
											<option value="40-60">40 - 60</option>
											<option value="60-80">60 - 80</option>
											<option value="80-100">80 - 100</option>
										</select>
									</td>
								</tr>
							</div>
							<div class="control-group form-group">
								<div class="controls">
									<tr>
										<td>
											<label>Gender:</label>
										</td>
										<td>
											<input type="radio" name="gender" value="male" checked>Male
											<input type="radio" name="gender" value="female">Female
										</td>
									</tr>
								</div>
							</div>
							<div class="control-group form-group">
								<div class="controls">
									<tr>
										<td>
											<label>Alcohol Consumption:</label>
										</td>
										<td>
											<select name="alcohol" required>
												<option value="high" selected>High</option>
												<option value="low" >Low</option>
												<option value="no" >No Alcohol Consumption</option>
											</select>
										</td>
									</tr>
								</div>
							</div>
							<div class="control-group form-group">
								<div class="controls">
									<tr>
										<td>
											<label>Any Family History of Cancer?<br/> If Yes, then which type of cancer? Else select None</label>
										</td>
										<td>
											<select name="cancertype" required>
												<option value="none">None</option>
												<option value="breast">Breast Cancer</option>
												<option value="bladder">Bladder Cancer</option>
												<option value="lung">Lung Cancer</option>
												<option value="rectal">Colo-Rectal Cancer</option>
												<option value="prostate">Prostate Cancer</option>
											</select>
										</td>
									</tr>
								</div>
							</div>
							<div class="control-group form-group">
								<div class="controls">
									<tr>
										<td>
											<label>HIV Infected:</label>
										</td>
										<td>
											<select name="hiv" required>
												<option value="yes" selected>Yes</option>
												<option value="no">No</option>
											</select>
										</td>
									</tr>
								</div>
							</div>
							<div class="control-group form-group">
								<div class="controls">
									<tr>
										<td>
											<label>Bladder Irritation/Infection:</label>
										</td>
										<td>
											<select name="bladder" required>
												<option value="yes" selected>Yes</option>
												<option value="no">No</option>
											</select>
										</td>
									</tr>
								</div>
							</div>
							<div class="control-group form-group">
								<div class="controls">
									<tr>
										<td>
											<label>Rectal Bleeding:</label>
										</td>
										<td>
											<select name="rectal" required>
												<option value="yes" selected>Yes</option>
												<option value="no">No</option>
											</select>
										</td>
									</tr>
								</div>
							</div>
						</table>
						<div id="success"></div>
						<!-- For success/fail messages -->
						<button type="submit" class="btn btn-primary" value="submit">Submit</button>
					</form>
				</div>
			</div>
			<!-- /.row -->
		</section>
		<% include footer %>
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.prettyPhoto.js"></script>
		<script src="js/jquery.isotope.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/wow.min.js"></script>
	</body>
	</html>