<%include header%>
    <link href="css/tabcontent.css" rel="stylesheet">
    
  <section id=portfolio>
  <div class="container">
 <div class="center">
  <h2>Taxanomy</h2>
  </div>
  <ul class="tabs">
        <li>
          <input type="radio" checked name="tabs" id="tab1">
          <label for="tab1">A</label>
          <div id="tab-content1" class="tab-content animated fadeIn">
          
          <h2> <b>abdomen</b> [AB-duh-men] </h2>
          <p class="test"> The part of the body between the chest and the pelvis. It contains the stomach, intestines, liver, gallbladder, pancreas, and other organs. The abdomen is lined by a membrane called the peritoneum.
          </p>
          
          <hr>
          <h2> <b> abdominoperineal resection </b> [ab-DAH-muh-no-PAIR-uh-NEE-uhl re-SEK-shun]</h2>
          <p class="test">Often shortened to AP resection or APR. A type of surgery to remove the anus, rectum, and part of the colon. Two cuts are made, one in the belly (abdomen), and the other around the anus. A permanent colostomy is needed after this surgery. See also abdomen, anus, colon, colostomy, rectum.
          </p>
          
          <hr>
          <h2><b>ablate </b> [ab-LATE]</h2>
          <p class="test">To remove an organ or body tissue or destroy its function. See also ablation.
          </p>
          
          <hr>
         <h2><b>ablation</b> [ab-LAY-shun]</h2>
          <p class="test">Also called ablative therapy (ab-LAY-tive). Treatment to remove or destroy all or part of a cancer. It can also mean removing or stopping the function of an organ. For example, removing the ovaries or testicles or taking medicines that cause them to stop making their hormones would be called ablation. Besides surgery and drug treatment, other ways of ablating body tissues and tumors include using extreme heat, freezing, and chemicals.
          </p> 
          
          <hr>
		<h2><b>abscess</b>[AB-ses]</h2>
          <p class="test">A collection of pus in tissues, organs, or other parts of the body; usually a sign of infection.
          </p>
          
          <hr>
          <h2><b>actinic keratosis </b> [ak-TIN-ick KAIR-uh-TOE-sis]</h2>    
          <p class="test">
          </p>Also called solar keratosis; the plural is keratoses (KAIR-uh-TOE-seez). A thick, rough, or scaly patch of skin that can develop after years of sun exposure. They are not cancer, but over time a few will develop into squamous cell cancer (a type of skin cancer). Doctors can remove them or destroy them with cold, lasers, chemicals, or creams. See also squamous cell carcinoma.
          
          <hr>
          <h2><b> active surveillance</b>[AK-tiv ser-VAY-lents]</h2>         
          <p class="test">See expectant management.
          </p>
          
          <hr>
          <h2><b>adenocarcinoma </b>[AD-no-KAR-suh-NO-muh or AD-uh-no-KAR-suh-NO-muh]</h2>         
          <p class="test">Cancer that starts in the glandular cells that line certain organs and make and release substances into the body, such as mucus, digestive juices, or other fluids. Examples include the ducts or lobules of the breast and the gland cells of the prostate. See also glandular cells, prostate.
          </p>
          
          <hr>
          <h2><b>adenoma </b>[ad-NO-muh or AD-uh-NO-muh]</h2>          
          <p class="test">A growth or tumor that starts in glandular tissue and is not cancer. See also adenomatous polyp, glands, glandular cells.
          </p>
          
          <hr>
          <h2><b>adenomatous polyp </b>[ad-NO-muh-tus or AD-uh-NO-muh-tus PAH-lip]</h2>          
          <p class="test">A non-cancerous growth of abnormal glandular cells on the inner lining of an organ such as the colon. These can become cancer, so they are usually removed. For example, 3 types of adenomatous polyps that can grow in the colon are tubular, villous, and tuberovillous adenomas. In each type, the cells are arranged differently, but there’s some overlap so that an adenoma can have both tubular and villous features. See also colon, glandular cells, hyperplastic polyp, inflammatory polyp, polyp, tubular adenoma, tubulovillous adenoma, villous adenoma.
          </p>
          
          <hr>
          <h2><b> adenopathy</b>[AD-uh-NAH-puh-thee]</h2>          
          <p class="test">Also called lymphadenopathy (limf-AD-uh-NAH-puh-thee); swollen or large lymph nodes; can also mean disease of the lymph nodes. See also lymph node.
          </p>
          
          <hr>
          <h2><b> adenosis</b>[AD-uh-NO-sis]</h2>          
          <p class="test">A disease or abnormal change in a gland. For instance, in breast adenosis the lobules are larger contain more glands than usual, but there’s no cancer. See also glands, glandular cells, lobule.
          </p>
          
          <hr>
          <h2><b> adhesions</b> [ad-HEE-zhunz]</h2>          
          <p class="test">Bands of scar tissue that form after surgery or injury that bind together organs or tissues that are normally separate. This can sometimes cause problems, for instance, if it leads to partial or total blockage of the intestine.
          </p>
          
          <hr>
          <h2><b>adjuvant therapy </b>[AD-juh-vunt]</h2>          
          <p class="test">Treatment used in addition to the main treatment. It usually refers to hormone therapy, chemotherapy, radiation therapy, or other treatments given after surgery to increase the chances of curing the disease or keeping it in check.
          </p>
          
          <hr>
          <h2><b> adrenal glands</b>[uh-DREE-nul]</h2>          
          <p class="test">Glands at the top of each kidney (everyone normally has 2). Their main function is to make hormones that help the body respond to stress and control metabolism (processing food for energy), fluid balance, and blood pressure. They also make small amounts of progesterone (a female hormone), as well as androgens (male hormones), which the body can convert into estrogen (another female hormone).
          </p>
          
          <hr>
          <h2><b> advance directives</b></h2>
          <p class="test">Legal documents that tell the doctor and family what future medical care a person wants if the person later becomes unable to make decisions for him or herself. This may include whether to start or when to stop life-sustaining treatments. Another type of advance directive lets you choose a person to make decisions for you if you become unable to do it for yourself. See also durable power of attorney for health care, living will.
          </p>
          
          <hr>
		  <h2><b> advanced cancer</b></h2>
          <p class="test">A general term describing cancer that has spread from where it started (the primary site) to other parts of the body. When the cancer has spread only to the nearby areas, it’s called locally advanced cancer. If it has spread to distant parts of the body, it’s called metastatic cancer. See also metastasis, metastasize.
          </p>
          
          <hr>
		  <h2><b>AJCC Staging System </b></h2>
          <p class="test">American Joint Committee on Cancer staging system (also called the TNM system), which is used to describe the amount and spread of many types of cancer, typically with the number 0 (zero) and Roman numerals from I through IV. See also staging.
          </p>
          
          <hr>
		  <h2><b>allele </b>[al-EEL]</h2>
          <p class="test">Any one of the different forms of a gene or group of genes that occupy a specific location on a given chromosome. See also chromosome, gene.
          </p>
          
          <hr>
		  <h2><b>allogeneic stem cell transplant </b>[AL-o-jen-NEE-ick or AL-o-jen-NAY-ick]</h2>
          <p class="test">A type of stem cell transplant that uses blood stem cells from a donor whose tissue type closely matches the patient’s to replace blood-forming cells that have been destroyed by disease or cancer treatment. The cells can be from a related donor or an unrelated donor. Compare to autologous stem cell transplant. See also bone marrow transplant, hematopoietic stem cell transplant, stem cells.
          </p>
          
          <hr>
		  <h2><b>alopecia </b>[AL-o-PEE-shuh]</h2>
          <p class="test">Hair loss, which can include body hair, eyebrows, and eyelashes as well as scalp hair. This often happens with chemotherapy treatment or radiation therapy. In most cases, the hair grows back after treatment ends.
          </p>
          
          <hr>
		  <h2><b>alpha blocker </b>[AL-fuh]</h2>
          <p class="test">A drug that relaxes smooth muscle tissue. Alpha blockers are sometimes used to help men who have trouble passing urine because of benign prostatic hyperplasia (BPH) or other causes. See also benign prostatic hyperplasia, urine.
          </p>
          
          <hr>
		  <h2><b> alternative therapy</b></h2>
          <p class="test">An unproven therapy that’s used instead of standard medical treatment. Some alternative therapies are known to cause harmful or even life-threatening side effects. With others, the main danger is that the patient may lose the chance to benefit from standard treatment. The American Cancer Society recommends that patients thinking about using any alternative or complementary therapy discuss it first with a member of their health care team to be sure that they know all their options. See also complementary therapy.
          </p>
          
          <hr>
		  <h2><b>alveoli </b>[al-VEE-o-lie]</h2>
          <p class="test">Tiny air sacs in the lungs where oxygen and carbon dioxide are exchanged.
          </p>
          
          <hr>
		  <h2><b> ambulatory</b> [AM-byou-luh-TOR-ee]</h2>
          <p class="test"> Walking or able to walk. Ambulatory care centers work with outpatients, that is, people who are not staying in a hospital. Short procedures or treatments are often done in such centers.
          </p>
          
          <hr>
		  <h2><b>Amsterdam criteria </b>[AM-stir-dam cry-TEER-ee-uh]</h2>
          <p class="test">A set of conditions common in people with hereditary non-polyposis colon cancer (HNPCC), also known as Lynch syndrome. Only about half of people who meet all of these criteria actually have HNPCC, but people who meet the criteria may want to consider genetic testing. Compare to Bethesda criteria. See also hereditary non-polyposis colon cancer, genetic counseling, genetic testing.
          </p>
          
          <hr>
		  <h2><b>anal </b>[A-nul]</h2>
          <p class="test">Having to do with the anus. See also anus.
          </p>
          
          <hr>
		  <h2><b>analog </b> [AN-uh-log]</h2>
          <p class="test">A man-made version of a naturally occurring substance. See also luteinizing hormone-releasing hormone analogs
          </p>
          
          <hr>
		  <h2><b>anastomosis </b>[uh-NAS-tuh-MO-sis]</h2>
          <p class="test">The site where 2 structures are surgically joined together, such as the bladder and the urethra after the prostate has been removed, or the 2 ends of bowel put back together after a section has been removed.
          </p>
          
          <hr>
		  <h2><b> androgen ablation</b>[AN-druh-jen ab-LAY-shun]</h2>
          <p class="test">See androgen blockade, androgen deprivation therapy.
          </p>
          
          <hr>
		  <h2><b> androgen blockade</b></h2>
          <p class="test">Use of drugs to disrupt the actions of androgens or male hormones. See also androgens, androgen deprivation therapy, combined hormone therapy, hormone therapy.
          </p>
          
          <hr>
		  <h2><b>androgen deprivation therapy </b></h2>
          <p class="test">Often shortened to ADT. Treatment to reduce levels of androgens (male hormones) in the body or prevent them from reaching cancer cells. For example, since androgens stimulate prostate cancer to grow, ADT often makes prostate cancers shrink or grow more slowly. See also anti-androgens, chemical castration, hormone therapy, luteinizing hormone-releasing hormone antagonists, luteinizing hormone-releasing hormone agonists, orchiectomy, testosterone.
          </p>
          
          <hr>
		  <h2><b> androgen-dependent</b></h2>
          <p class="test">A term used to describe prostate cells that are stimulated by male hormones to grow and multiply, and are suppressed by drugs that stop or disrupt the action of male hormones. Androgen-dependent cells may be normal or cancer. See also androgen-independent.
          </p>
          
          <hr>
		  <h2><b>androgen-independent </b></h2>
          <p class="test">A term for prostate cancer that no longer responds to any type of hormone therapy; also known as hormone-refractory. Compare to castrate-resistant. See also androgen-dependent, hormone therapy.
          </p>
          
          <hr>
		  <h2><b>androgens </b>[AN-druh-jens]</h2>
          <p class="test">Hormones found in men and women but with much higher levels in men; commonly called male sex hormones. The major androgen is testosterone. See also hormone therapy, testosterone.
          </p>
          
          <hr>
		  <h2><b> anecdotal</b>[AN-neck-DOE-tul]</h2>
          <p class="test">Related to an individual or personal report, or a description from one or more patients. Anecdotal evidence is not considered as reliable as evidence from well-designed clinical trials or other types of studies.
          </p>
          
          <hr>
		  <h2><b>anemia </b>[uh-NEE-me-uh]</h2>
          <p class="test">Low red blood cell count.
          </p>
          
          <hr>
		  <h2><b>anesthesia </b>[AN-es-THEE-zhuh]</h2>
          <p class="test">The loss of feeling or sensation as a result of drugs or gases. General anesthesia causes loss of consciousness (puts you into a deep sleep so you don’t feel pain). Local or regional anesthesia numbs only a certain area.
          </p>
          
          <hr>
		  <h2><b>anesthesiologist  </b>[AN-es-THEE-zee-AHL-uh-jist]</h2>
          <p class="test">A doctor who specializes in giving drugs or other agents that prevent or relieve pain, especially during surgery.
          </p>
          
          <hr>
		  <h2><b>aneuploid </b>[AN-you-PLOID]</h2>
          <p class="test">Cells with either more or less than the normal number of chromosome pairs. Most human cells normally have 23 pairs of chromosomes. Compare to diploid. See also chromosome, ploidy
          </p>
          
          <hr>
		  <h2><b> angiogenesis</b>[AN-jee-o-JEN-uh-sis]</h2>
          <p class="test">The formation of new blood vessels. Some cancer treatments work by blocking angiogenesis, which helps keep blood from reaching (“feeding”) the tumor. See also anti-angiogenesis agent.
          </p>
          
          <hr>
		  <h2><b> angiography</b>[AN-jee-AH-gruh-fee]</h2>
          <p class="test">A test in which a contrast dye is injected directly into a blood vessel that goes to the area that is being studied. A series of x-rays are then taken to show doctors the blood vessels in the area. This test can be used to look at the blood vessels around a tumor.
          </p>
          
          <hr>
		  <h2><b>angiosarcoma </b>[AN-jee-o-sar-KO-muh]</h2>
          <p class="test">A type of cancer that starts from cells that line blood vessels or lymph vessels.
          </p>
          
          <hr>
		  <h2><b>anorexia </b>[AN-uh-REK-see-uh]</h2>
          <p class="test">Loss of appetite, which may be caused by either the cancer itself or treatments such as chemotherapy.
          </p>
          
          <hr>
		  <h2><b> anterior</b>[an-TEER-ee-yer]</h2>
          <p class="test">At or near the front.
          </p>
          
          <hr>
		  <h2><b>anti-androgen </b> [AN-tee-AN-druh-jen or AN-tie-AN-druh-jen]</h2>
          <p class="test">A drug that blocks the body’s ability to use male hormones (androgens). Anti-androgens are used along with orchiectomy (a type of surgery) or LHRH analogs (drugs) as part of hormone therapy to help treat prostate cancer. See also androgens, androgen deprivation therapy, hormone therapy, luteinizing hormone-releasing hormone analogs, orchiectomy.
          </p>
          
          <hr>
		  <h2><b>anti-angiogenesis agent </b>[AN-tee-AN-jee-o-JEN-uh-sis or AN-tie-AN-jee-o-JEN-uh-sis]</h2>
          <p class="test">A drug that keeps new blood vessels from forming, limiting the blood supply to a tumor. See also angiogenesis.
          </p>
          
          <hr>
		  <h2><b>antibiotic </b> [AN-tee-by-AH-tick or AN-tie-by-AH-tick]</h2>
          <p class="test">A drug used to kill germs (micro-organisms) that cause disease. Antibiotics may be made naturally by living organisms or they may be created in the lab. Since some cancer treatments can reduce the body’s ability to fight infection, antibiotics may be used to treat or prevent these infections.
          </p>
          
          <hr>
		  <h2><b> antibody</b>[AN-tih-BAH-dee or AN-tee-BAH-dee]</h2>
          <p class="test">A protein made by immune system cells and released into the blood to help defend the body against foreign agents, such as bacteria. These agents contain certain substances called antigens. Each antibody works against one certain antigen. See also antigen, immune system.
          </p>
          
          <hr>
		  <h2><b>anti-emetic </b>[AN-tee-ih-MEH-tik or AN-tie-ih-MEH-tik]</h2>
          <p class="test">A drug that prevents or relieves nausea and vomiting.
          </p>
          
          <hr>
		  <h2><b>anti-estrogen </b>[AN-tee-ES-tro-jen or AN-tie-ES-tro-jen]</h2>
          <p class="test">A substance that blocks the effects of estrogen on cancer cells. These types of drugs are used to treat breast cancers that depend on estrogen for growth and can be used to help prevent breast cancer. See also estrogen, hormone therapy, selective estrogen receptor modulator.
          </p>
          
          <hr>
		  <h2><b> antigen</b>[AN-tuh-jen]</h2>
          <p class="test">A substance that can cause the body’s immune system to respond by making antibodies. For example, the immune system responds to antigens that are part of bacteria and viruses to help people resist infections. Certain cancer cells have antigens that can be found by lab tests. Knowledge of these antigens can be used to help diagnose, monitor, and even treat some cancers. See also antibody, immune system.
          </p>
          
          <hr>
		  <h2><b>antimetabolite </b>[AN-tee-muh-TAB-o-lites or AN-tie-muh-TAB-o-lites]</h2>
          <p class="test">A substance that interferes with the body’s chemical processes, such as those that create DNA (deoxyribonucleic acid) and other chemicals needed for cell growth and reproduction. In treating cancer, antimetabolite drugs disrupt DNA production, which in turn prevents cell division and tumor growth. See also deoxyribonucleic acid.
          </p>
          
          <hr>
		  <h2><b>antioxidants </b>[AN-tee-OX-uh-dunts or AN-tie-OX-uh-dunts]</h2>
          <p class="test">A compound that holds back chemical reactions with oxygen (oxidation). Some vitamins, such as vitamins C and E and beta-carotene are antioxidants. Antioxidants that are found in foods might reduce the risk of some cancers. But taking certain antioxidants as supplements has been linked to higher cancer risk in some people.
          </p>
          
          <hr>
		  <h2><b>anus </b>[A-nus]</h2>
          <p class="test">The end of the digestive tract, through which waste passes out of the body. See also digestive system.
          </p>
          
          <hr>
		  <h2><b>APC gene </b></h2>
          <p class="test">A gene that slows the growth of cells in the body. People who have a change (mutation) in this gene can develop hundreds of polyps in the colon, due to diseases known as familial adenomatous polyposis (FAP) and Gardner syndrome. See also familial adenomatous polyposis, Gardner syndrome, gene, hereditary cancer syndrome, mutation, polyp.
          </p>
          
          <hr>
		  <h2><b>apheresis </b>[A-fur-REE-sis]</h2>
          <p class="test">May also be called pheresis (fur-REE-sis). A procedure in which blood is taken out of the body (through a catheter in a vein), part of the blood is removed, and the rest of the blood is put back into the body. May be called plasmapheresis if plasma is removed, leukapheresis if white blood cells are removed, or plateletpheresis when platelets are removed.
          </p>
          
          <hr>
		  <h2><b>aplasia </b>[a-PLAY-zee-uh or a-PLAY-zhuh]</h2>
          <p class="test">Defective development or absence of an organ, cell, or tissue.
          </p>
          
          <hr>
		  <h2><b> aplastic</b>[a-PLAS-tick]</h2>
          <p class="test">Having to do with aplasia. See aplasia, aplastic anemia.
          </p>
          
          <hr>
		  <h2><b>aplastic anemia </b>[a-PLAS-tick uh-NEE-me-uh]</h2>
          <p class="test">A condition in which the bone marrow doesn’t make enough blood cells, resulting in low red blood cell counts (anemia), and often low white blood cells counts (leukopenia) and low platelet counts (thrombocytopenia) as well. See also anemia, leukopenia, thrombocytopenia.
          </p>
          
          <hr>
		  <h2><b> apoptosis</b>[A-pop-TOE-sis]</h2>
          <p class="test">Programmed cell death. Apoptosis is controlled by genes that cause cells to die at certain times, for example, when DNA (deoxyribonucleic acid) is damaged. This type of cell death is a normal process in the body and is different from the process of cell death by decay. Some drugs used to treat cancer cause apoptosis. See also deoxyribonucleic acid.
          </p>
          
          <hr>
		  <h2><b> areola</b>[ah-REE-uh-luh or air-ee-O-luh]</h2>
          <p class="test">The dark area of skin that surrounds the nipple of the breast.
          </p>
          
          <hr>
		  <h2><b>aromatase inhibitors  </b>[uh-ROE-muh-tase]</h2>
          <p class="test">Drugs that lower estrogen levels by blocking aromatase, the enzyme that converts androgens into estrogen. These drugs are used to treat hormone-sensitive breast cancer in women after menopause. They’re also being tested to see if they can reduce breast cancer risk in women after menopause. See also androgens, chemoprevention, enzyme, estrogen, hormone therapy, menopause.
          </p>
          
          <hr>
		  <h2><b>artificial sphincter </b>[SFINK-ter]</h2>
          <p class="test">An inflatable cuff implanted to squeeze the urethra or anus shut and help a person control their urine or poop (stool). See also anus, incontinence, sphincter, urethra, urine.
          </p>
          
          <hr>
		  <h2><b>ascending colon </b>[as-SEND-ing KO-lun]</h2>
          <p class="test">The first of the 4 sections of the colon. The ascending colon begins at the end of the small intestine and extends upward on the right side of the abdomen to connect with the transverse colon. See also abdomen, colon, transverse colon, descending colon, sigmoid colon.
          </p>
          
          <hr>
		  <h2><b>ascites </b>[ah-SITE-eez]</h2>
          <p class="test">Abnormal build-up of fluid in the belly (abdomen).
          </p>
          
          <hr>
		  <h2><b> aspiration</b>[ASP-er-A-shun]</h2>
          <p class="test">To draw out or remove liquid, gas, or tissue fragments through a needle using suction. Also, the accidental breathing in of food or fluid into the lungs. See also fine needle aspiration biopsy.
          </p>
          
          <hr>
		  <h2><b>Astler-Coller staging system </b></h2>
          <p class="test">One of the staging systems for colorectal cancer. In this system, the letters A through D are used for the different stages. See also staging, colorectal cancer.
          </p>
          
          <hr>
		  <h2><b> asymptomatic</b>[A-simp-tuh-MAT-ik]</h2>
          <p class="test">Not having any symptoms of a disease. Many cancers can develop and grow without causing symptoms at first. Screening tests such as mammograms and colonoscopies help find some early cancers before symptoms start, when the chances for cure are usually highest. See also screening.
          </p>
          
          <hr>
		  <h2><b>ataxia-telangiectasia </b>[a-TAX-ee-yuh tel-AN-jee-eck-TAY-zhuh]</h2>
          <p class="test">Also called A-T. A rare, inherited condition that affects the nervous system, immune system, and other body systems and results in an increased risk of certain types of cancer, especially leukemias and lymphomas. A-T is caused by having changes in both copies of the ATM gene. See also ATM gene, gene, mutation.
          </p>
          
          <hr>
		  <h2><b> ATM gene</b></h2>
          <p class="test">A gene that normally slows the growth of cells in the body and helps repair damage inside cells. If a person has changes (mutations) in both copies of this gene, it causes a disease called ataxia-telangiectasia. If only one copy of the gene is mutated, the person may have a higher risk of breast and some other types of cancer. See also ataxia-telangiectasia, mutation.
          </p>
          
          <hr>
		  <h2><b>atypia</b>[a-TIP-ee-yuh]</h2>
          <p class="test">Not normal; atypical. Often refers to how cancer or pre-cancer cells look under a microscope. See also atypical, hyperplasia.
          </p>
          
          <hr>
		  <h2><b>atypical </b>[a-TIP-uh-kul]</h2>
          <p class="test">Not usual; abnormal. See also atypia.
          </p>
          
          <hr>
		  <h2><b> atypical small acinar proliferation</b>[a-TIP-uh-kul small uh-SEE-nar pruh-LIH-fuh-RAY-shun]</h2>
          <p class="test">Often shortened to ASAP or sometimes just atypia; a suspicious finding on a prostate biopsy pathology report in which the prostate cells look like they might be cancerous, but there are too few of them to be sure. If ASAP is found, there’s a high chance that there’s cancer in the prostate, so many doctors advise having another biopsy done within a few months. See also atypia, biopsy, prostatic intraepithelial neoplasia.
          </p>
          
          <hr>
		  <h2><b>autologous </b>[aw-TAHL-uh-gus]</h2>
          <p class="test">Use of the patient’s own blood or tissue in a medical procedure; for example, using a woman’s own tissue to rebuild a breast shape is called autologous tissue construction.
          </p>
          
          <hr>
		  <h2><b> autologous stem cell transplant</b>[aw-TAHL-uh-gus]</h2>
          <p class="test">A type of stem cell transplant that uses blood stem cells that are taken either from the patient’s bone marrow or bloodstream and are frozen, stored, and given back to the patient later. Compare to allogeneic stem cell transplant. See also bone marrow, hematopoietic stem cell transplant, stem cells.
          </p>
          
          <hr>
		  <h2><b> axilla</b>[ax-ILL-uh]</h2>
          <p class="test">The armpit.
          </p>
          
          <hr>
		  <h2><b> axillary dissection </b>[AX-ill-air-ee di-SEK-shun]</h2>
          <p class="test">Also called axillary lymph node dissection; removal of the lymph nodes in the armpit (these are the axillary nodes). They are looked at under a microscope to see if they contain cancer. See also axilla, lymph node, lymph node biopsy.
          </p>
                         
          </div>
        </li>
        
        
        <li>
          <input type="radio" name="tabs" id="tab2">
          <label for="tab2">B</label>
          <div id="tab-content2" class="tab-content animated fadeIn">
                      
		  <h2><b> B lymphocytes</b>[LIMF-uh-sites]</h2>
          <p class="test">Also called B cells. White blood cells that help make antibodies. See also antibody, immune system, white blood cells.
          </p>
          
          <hr>
		  <h2><b>barium enema </b>[BEAR-ee-um EN-uh-muh]</h2>
          <p class="test">A type of x-ray test where barium sulfate, a chalky liquid, is put in through the rectum to enlarge and partly fill the large intestine (colon). When the colon is about half-full of barium, air is often pushed in to make the colon expand further. This allows good x-ray films to be taken. This procedure may also be called a double contrast barium enema, air-contrast barium enema, or a lower GI series. See also barium sulfate, colon, x-ray.
          </p>
          
          <hr>
		  <h2><b>barium sulfate </b>[BEAR-ee-um SUL-fate]</h2>
          <p class="test">A substance made into a chalky liquid that’s used to outline the inside of the digestive tract for x-rays. It can be taken by mouth, as part of an upper gastrointestinal (GI) series, or put into the rectum as a barium enema (as part of a lower GI series). See also barium enema, gastrointestinal tract, x-ray.
          </p>
          
          <hr>
		  <h2><b> basal cell carcinoma</b>[BAY-sul or BAY-zul sell CAR-sin-O-ma]</h2>
          <p class="test">Also called basal cell cancer; the most common type of skin cancer. It begins in the lowest layer of the epidermis (the outer layer of the skin), called the basal cell layer. It usually develops on sun-exposed areas, especially the head and neck. Basal cell cancer grows slowly and is not likely to spread to distant parts of the body.
          </p>
          
          <hr>
		  <h2><b>basic science </b>  </h2>       
		  <p class="test"> Also called pure science; a type of research that provides the knowledge and background required for later research into human health problems (known as applied science). In cancer research, basic science is often done in the lab in fields like biochemistry, cell biology, or genetics. It’s not aimed directly at treating a specific cancer, but it may be used later as part of the basis for a treatment.
          </p>
          
          <hr>
		  <h2><b> behavioral research </b></h2>
          <p class="test">Research looking at what motivates people to act the way they do. The results of such research can be used to help encourage people to adopt healthy lifestyles and follow life-saving screening and treatment guidelines.
          </p>
          
          <hr>
		  <h2><b>benign </b>[be-NINE]</h2>
          <p class="test">Not cancer; not malignant. Compare with malignant.
          </p>
          
          <hr>
		  <h2><b> benign prostatic hyperplasia</b>[be-NINE pros-TAT-tick HI-per-PLAY-zhuh]</h2>
          <p class="test">Often shortened to BPH. Non-cancerous enlargement of the prostate. This sometimes makes it harder for a man to empty his bladder – causing trouble starting and stopping urine flow, weak flow of urine, and dribbling. See also bladder, prostate, urine.
          </p>
          
          <hr>
		  <h2><b> benign tumor</b>[be-NINE TOO-mer]</h2>
          <p class="test">An abnormal growth that’s not cancer, so it does not invade into nearby tissues or spread to other parts of the body. Some benign tumors can still cause health problems. See also tumor.
          </p>
          
          <hr>
		  <h2><b>beta carotene </b>[BAY-tuh KAIR-uh-TEEN]</h2>
          <p class="test">A form of vitamin A that’s found mainly in yellow and orange vegetables and fruits. It functions as an antioxidant. See also antioxidants.
          </p>
          
          <hr>
		  <h2><b> Bethesda criteria</b></h2>
          <p class="test">A set of conditions used to determine if someone with colorectal cancer might have hereditary non-polyposis colon cancer (HNPCC), and therefore might want to consider genetic testing for it. Most people who have these criteria do not actually have HNPCC. Compare to Amsterdam criteria. See also hereditary non-polyposis colon cancer, genetic testing.
          </p>
          
          <hr>
		  <h2><b>bilateral </b>[by-LAT-er-ul]</h2>
          <p class="test">On both right and left sides of the body; for example, bilateral breast cancer is cancer in both breasts. Compare to unilateral.
          </p>
          
          <hr>
		  <h2><b> bile</b></h2>
          <p class="test">Fluid made by the liver and stored in the gall bladder; it enters the small intestine to help digest fats. See also bile ducts, biliary, gallbladder.
          </p>
            
          <hr>
		  <h2><b> bile ducts</b></h2>
          <p class="test">The small tubes through which bile flows from the liver and gallbladder into the small intestine. The largest of these, known as the common bile duct, is joined by a duct carrying fluid from the pancreas as it nears the intestine. See also bile, gallbladder, biliary, liver, pancreas.
          </p>  
            
          <hr>
		  <h2><b> biliary</b>[BIL-ee-air-ee]</h2>
          <p class="test">Having to do with the liver, gallbladder and/or bile or the bile ducts. See also bile, bile ducts, gallbladder, liver.
          </p>
          
          <hr>
		  <h2><b> biologic response modifiers</b>[BY-o-LA-jick re-SPONS MOD-uh-FIE-urs]</h2>
          <p class="test">Substances made in the body, such as interferons and interleukins, that boost the body’s immune system. Man-made versions of these substances can be used to treat some cancers or other diseases. This type of treatment is sometimes called biologic therapy. See also immunotherapy.
          </p>
          
          <hr>
		  <h2><b>biomarkers </b>[BY-o-MAR-kers]</h2>
          <p class="test">See tumor markers.
          </p>  
            
          <hr>
		  <h2><b>biopsy </b>[BY-op-see]</h2>
          <p class="test">The removal of a piece of body tissue to see if cancer cells are present. There are several kinds of biopsies. In some, a thin, hollow needle is used to remove fluid or cells from a tumor. Other biopsies are done using surgery. See also core needle biopsy, fine needle aspiration biopsy, sextant biopsy, surgical biopsy.
          </p>  
            
          <hr>
		  <h2><b> biopsy gun</b>[BY-op-see]</h2>
          <p class="test">An instrument used to take core biopsy samples, often used for prostate biopsies. See also biopsy, core needle biopsy.
          </p>  
            
          <hr>
		  <h2><b> bisphosphonates</b>[bis-FAHS-fun-ATES]</h2>
          <p class="test">Drugs that slow down the action of bone-eating cells called osteoclasts, which helps slow the spread of cancer in the bones. Bisphosphonate drugs also used to help treat osteoporosis (bone thinning) and some other conditions.
          </p>  
            
          <hr>
		  <h2><b> bladder</b>[BLAD-uhr]</h2>
          <p class="test">A hollow organ in the pelvis with flexible, muscular walls. The bladder stores urine made by the kidneys until it leaves the body during urination. See also kidney, urine.
          </p>  
            
          <hr>
		  <h2><b>blood count </b></h2>
          <p class="test">See complete blood count.
          </p>  
            
          <hr>
		  <h2><b>bone marrow </b></h2>
          <p class="test">The soft, spongy tissue in the hollow middle of certain bones of the body. This is where new blood cells are made. See also platelets, red blood cells, white blood cells.
          </p>  
            
          <hr>
		  <h2><b> bone marrow aspiration and biopsy</b>[ASP-er-A-shun and BY-op-see]</h2>
          <p class="test">A procedure in which a thin, hollow needle is put into the center of a bone, usually the hip or breast bone, to take out a small amount of bone marrow so that it can be looked at under a microscope. See also bone marrow.
          </p>  
            
          <hr>
		  <h2><b> bone marrow transplant</b></h2>
          <p class="test">A treatment that replaces blood-forming stem cells in the bone marrow with new stem cells that come from the bone marrow of either the patient (autologous) or a donor (allogeneic). Bone marrow transplants (BMTs) were the first type of stem cell transplant used, but they are now done less often than in the past. See also allogeneic stem cell transplant, autologous stem cell transplant, bone marrow, umbilical cord blood transplant, hematopoietic stem cell transplant, stem cells.
          </p>  
            
          <hr>
		  <h2><b>bone scan </b></h2>
          <p class="test">An imaging test that looks for abnormal areas in the bones, which might be caused by cancer. For this test, a small amount of radioactive contrast material (radioisotope) is put into a vein. This material settles in abnormal areas of the bones. The radioactive substance can then be seen in pictures as it collects in the problem areas (called “hot spots”). See also imaging tests, radioisotope.
          </p>  
            
          <hr>
		  <h2><b>bone survey </b></h2>
          <p class="test">Also called a skeletal survey. A set of x-rays of all the major bones of the body; it may be done when looking for cancer that has spread to the bones.
          </p>  
            
          <hr>
		  <h2><b> bowels</b></h2>
          <p class="test">The intestines, from the end of the stomach to the anus. The small bowel (small intestine) goes from the bottom of the stomach to the large bowel. The large bowel (large intestine) goes from there to the anus, and includes the colon and rectum. See also anus, colon, gastrointestinal tract, intestines, rectum.
          </p>  
            
          <hr>
		  <h2><b>BPH </b></h2>
          <p class="test">See benign prostatic hyperplasia.
          </p>  
            
          <hr>
		  <h2><b>brachytherapy </b>[BRAY-kee-THAIR-uh-pee]</h2>
          <p class="test">Internal radiation treatment that’s given by putting a radioactive source right into the tumor or close to it. There are 2 main types of brachytherapy. In intracavitary treatment, the source is placed into a space near the cancer. In interstitial treatment the source is placed directly into the tissues. Brachytherapy is sometimes used along with external beam radiation therapy. See also high-dose rate brachytherapy, low-dose rate brachytherapy, external beam radiation therapy, ionizing radiation.
          </p>  
            
          <hr>
		  <h2><b> brain</b></h2>
          <p class="test">Enclosed in the skull or the bones of the head (cranium) and connected to the spinal cord, the brain is the main center for regulating and coordinating body activities and functions. It’s the seat of thought, feeling, memory, speech, vision, hearing, movement, and much more. Different parts of the brain control different functions in the body. See also cranium, spinal cord.
          </p>  
            
          <hr>
		  <h2><b> brain scan</b></h2>
          <p class="test">An imaging test used to find anything that isn’t normal in the brain, including a brain tumor or cancer that has spread to the brain from other places in the body. This is usually a magnetic resonance imaging (MRI) scan or computed tomography (CT) scan, which are most often done in an outpatient setting. These tests are painless, except for the needle stick if a contrast material (“dye”) is put into a vein. See also computed tomography scan, magnetic resonance imaging, outpatient.
          </p>  
            
          <hr>
		  <h2><b>BRCA1 </b></h2>
          <p class="test">A gene which, when damaged (mutated), puts a person at higher risk of developing breast, ovarian, and some other types of cancer, compared to people who do not have the mutation. See also gene, mutation.
          </p>  
            
          <hr>
		  <h2><b>BRCA2 </b></h2>
          <p class="test">A gene which, when damaged (mutated), puts a person at higher risk of developing breast, ovarian, and some other types of cancer when compared to people who do not have the mutation. See also gene, mutation.
          </p>  
            
          <hr>
		  <h2><b>BRCAPro </b></h2>
          <p class="test">A tool used to help health professionals estimate a person’s risk of having a mutation in a BRCA gene based on family history (who else in the family has had cancer).
          </p>  
            
          <hr>
		  <h2><b>breast augmentation </b></h2>
          <p class="test">Surgery to increase the size of the breast. See also breast implant, mammoplasty.
          </p>  
            
          <hr>
		  <h2><b> breast cancer</b></h2>
          <p class="test">Cancer that starts in the breast. The most common types of breast cancer are ductal carcinoma in situ, invasive ductal carcinoma, invasive lobular carcinoma, medullary carcinoma, and Paget disease of the nipple (see definitions under these headings). Lobular carcinoma in situ is sometimes listed as a non-invasive type of cancer, even though it’s not a true cancer or pre-cancer.
          </p>  
            
          <hr>
		  <h2><b>breast conservation therapy or breast-conserving therapy </b></h2>
          <p class="test">Surgery to remove breast cancer and a small margin of normal tissue around the cancer without removing any other part of the breast. The lymph nodes under the arm may be removed, and radiation therapy is often given after the surgery. This method is also called lumpectomy, segmental excision, limited breast surgery, or tylectomy. See also lumpectomy, mastectomy.
          </p>  
            
          <hr>
		  <h2><b>breast implant  </b></h2>
          <p class="test">A sac used to increase breast size or restore the shape of a breast after surgical removal of the breast (mastectomy). The sac is filled with silicone gel (a synthetic material) or sterile saltwater (saline). See also mastectomy, prosthesis.
          </p>  
            
          <hr>
		  <h2><b> breast reconstruction</b></h2>
          <p class="test">Surgery that rebuilds the shape of the breast after surgical removal of the breast (mastectomy). A breast implant or the woman’s own tissue may be used. If desired, the nipple and areola might also be re-created. Reconstruction might be done at the time of mastectomy or later, depending on the treatment plan and a woman’s wishes. See also implant, mastectomy, prosthesis.
          </p>  
            
          <hr>
		  <h2><b> breast self-exam</b></h2>
          <p class="test">Often shortened to BSE. A way to check your own breasts for lumps or other changes. Women over age 20 might choose to do BSE, usually at a time other than the days before, during, or right after their menstrual periods. The goal with BSE is to know what your breasts feel and look like and be able to report any breast changes to a doctor or nurse right away.
          </p>  
            
          <hr>
		  <h2><b>breast specialist </b></h2>
          <p class="test">A health care professional who has a dedicated interest in breast health. While he or she may have specialized knowledge in this area, medical licensing boards do not certify a specialty in breast care.
          </p>  
            
          <hr>
		  <h2><b> bronchiole</b>[BRONG-key-ol]</h2>
          <p class="test">One of the smaller subdivisions or branches of the bronchi. See also bronchus.
          </p>  
            
          <hr>
		  <h2><b> bronchitis</b>[brong-KIE-tiss]</h2>
          <p class="test">Inflammation of the main breathing tubes (the bronchi).
          </p>
                   
          <hr>
		  <h2><b> bronchoscopy</b>[brong-KAH-skuh-pee]</h2>
          <p class="test">An exam in which a doctor looks at the inner lining of the bronchi and smaller airways in the lungs using a thin, flexible, lighted tube that goes down the throat. This instrument is called a bronchoscope. See also bronchus.
          </p>
          
          <hr>
		  <h2><b> bronchus</b>[BRONG-kuss]</h2>
          <p class="test">Either of the 2 main air passages that split off from the windpipe (trachea) and enter the lungs. The plural of this word is bronchi (BRONG-ki). The bronchi provide a passage for air to move in and out of the lungs. See also bronchiole, trachea.
          </p>
            
          </div>
        </li>
                
       
        <li>
          <input type="radio" name="tabs" id="tab3">
          <label for="tab3">C</label>
          <div id="tab-content3" class="tab-content animated fadeIn">
            
          
		  <h2><b>CA 19-9</b>A tumor marker sometimes found in the blood of people with colorectal, stomach, bile duct, and pancreatic cancers. It may also be found in some non-cancer conditions. See also tumor markers.</h2>
          <p class="test">
          </p>  
            
          <hr>
		  <h2><b>CAB </b></h2>
          <p class="test">Combined androgen blockade. See combination hormone therapy.
          </p>  
            
          <hr>
		  <h2><b>cachexia </b>[ka-KEK-see-uh]</h2>
          <p class="test">A profound state of general poor health and malnutrition (poor food intake and/or poor food absorption) that leads to loss of body weight and muscle mass.
          </p>  
            
          <hr>
		  <h2><b>calcifications  </b>[KALS-if-ik-A-shuns]</h2>
          <p class="test">Tiny calcium deposits in the body. For example, they may be seen on a mammogram of the the breast, where they may be alone or in clusters. Very small deposits may be called microcalcifications. They are a sign of changes within the breast that may need to be followed by more mammograms or a biopsy. See also biopsy, mammogram
          </p>  
            
          <hr>
		  <h2><b>cancer </b></h2>
          <p class="test">A group of diseases which cause cells in the body to change and grow out of control. Most types of cancer cells form a lump or mass called a tumor. (Not all tumors are cancer. A tumor that is not cancer is called benign, while a cancerous tumor is called malignant.) A cancerous tumor can invade and destroy healthy tissue. Cells from the cancer can break away and travel to other parts of the body. There they can continue to grow. This spreading process is called metastasis. When cancer spreads, it is still named after the part of the body where it started. (For example, if colon cancer spreads to the liver, it’s still colon cancer, not liver cancer.) Benign tumors do not grow and spread the way cancer does. They are usually not a threat to life. Note that some types of cancer, such as blood cancers, do not form tumors. They can still threaten life by crowding out normal cells. See also benign, malignant, metastasis, tumor.
          </p>  
            
          <hr>
		  <h2><b> cancer care team</b></h2>
          <p class="test">The group of health care professionals who work together to find, treat, and care for people with cancer. The cancer care team may include any or all of the specialists listed. Whether the team is linked formally or informally, there’s usually one person who takes the job of coordinating the team. See also medical oncologist, radiation oncologist, pathologist, oncology clinical nurse specialist, oncology social worker, neurosurgeon, surgeon, gynecologist, gynecologic oncologist, urologist.
          </p>  
            
          <hr>
		  <h2><b>cancer cell </b></h2>
          <p class="test">A cell that divides and reproduces abnormally and can spread throughout the body, crowding out normal cells and tissue. Cancer cells develop because of damage to their DNA (deoxyribonucleic acid). See also cancer, deoxyribonucleic acid, mutation.
          </p>  
            
          <hr>
		  <h2><b>cancer screening tests </b></h2>
          <p class="test">See screening.
          </p>  
            
          <hr>
		  <h2><b> cancer susceptibility genes</b></h2>
          <p class="test">Genes (the basic unit of heredity) inherited from one’s parents that greatly increase the risk of a person developing cancer. About 5% to 10% of all cancers are caused by these genes. See also gene.
          </p>  
            
          <hr>
		  <h2><b>cancer vaccine </b></h2>
          <p class="test">A vaccine used to help the immune system fight cancer cells. Most vaccines in use or in development expose the immune system to parts of cancer cells as a way of trying to treat cancer, not prevent it. However, some vaccines already in use reduce cancer risk indirectly, by helping the body fight cancer-causing viruses such as the human papilloma virus (HPV) and the hepatitis B virus. See also human papilloma virus.
          </p>  
            
          <hr>
		  <h2><b>cancer-related check-up </b></h2>
          <p class="test">A routine health exam for cancer in people without signs or symptoms of cancer. The goal of the cancer-related check-up is to find the disease, if it exists, at an early stage, when chances for cure are greatest. See also detection, screening.
          </p>  
            
          <hr>
		  <h2><b>cancer-related fatigue </b></h2>
          <p class="test">An unusual and ongoing tiredness that can occur with cancer or cancer treatments. It can be overwhelming, last a long time, and interfere with everyday life. Rest does not always relieve it.
          </p>  
                      
          </div>
        </li>
        
        
        <li>
          <input type="radio" name="tabs" id="tab4">
          <label for="tab4">D</label>
          <div id="tab-content4" class="tab-content animated fadeIn">

          
		  <h2><b> D & C</b></h2>
          <p class="test">See dilation and curettage.
          </p>  
            
          <hr>
		  <h2><b> debulk</b>[de-BULK]</h2>
          <p class="test">To surgically reduce the volume or amount of cancer, usually by removing as much as can be safely taken out.
          </p>  
            
          <hr>
		  <h2><b> deoxyribonucleic acid</b>[dee-OK-see-RI-bo-noo-KLEE-ick]</h2>
          <p class="test">Most often called DNA. The genetic “blueprint” found in the center (nucleus) of each cell. DNA makes up the genes in each cell, which control its growth, division, and function. See also gene, mutation.
          </p>
        
          <hr>
		  <h2><b>depot injection </b>[DEE-poe or DEP-oh]</h2>
          <p class="test">A shot (injection) of a drug in a form that allows it to enter the bloodstream slowly over time. These drugs can often be given every month or even once every few months.
          </p>
        
          <hr>
		  <h2><b> dermatologist</b>[DER-muh-TAHL-uh-jist]</h2>
          <p class="test">A doctor who specializes in skin diseases.
          </p>
        
          <hr>
		  <h2><b> DES</b></h2>
          <p class="test">See diethylstilbestrol.
          </p>
        
          <hr>
		  <h2><b>descending colon </b>[de-SEND-ing KO-lun]</h2>
          <p class="test">The third section of the colon. This section starts at the end of the transverse (crosswise) section and continues downward on the left side of the abdomen (belly) before connecting with the sigmoid colon. See also colon, ascending colon, transverse colon, sigmoid colon.
          </p>
        
          <hr>
		  <h2><b> detection </b></h2>
          <p class="test">Finding disease. Early detection usually means finding the disease at an early stage, when it’s easier to treat, before it has grown large or spread. Certain tests can be used before a person has any symptoms to try to find cancer early. See also screening.
          </p>
        
          <hr>
		  <h2><b> DHT </b></h2>
          <p class="test">See dihydrotestosterone.
          </p>
        
          <hr>
		  <h2><b>diagnosis</b>[DIE-ug-NO-sis]</h2>
          <p class="test">Identifying a disease by its signs or symptoms, and by using imaging tests, lab tests, or biopsy. For most types of cancer, a biopsy is needed to be sure of the diagnosis. See also biopsy, imaging studies, sign, symptom.
          </p>
        
          <hr>
		  <h2><b>diaphragm </b>[DIE-uh-FRAM]</h2>
          <p class="test">A thin, dome-shaped muscle that separates the chest from the belly (abdomen). During breathing, the diaphragm moves down to pull air into the lungs, and up to push it out.
          </p>
        
          <hr>
		  <h2><b>dietary supplement  </b></h2>
          <p class="test">A product, such as a vitamin, mineral, or herb, intended to improve health but not to diagnose, treat, cure, or prevent disease. Because dietary supplements are not legally considered drugs, their manufacturers can sell them without having to prove they are safe or effective.
          </p>
        
          <hr>
		  <h2><b>diethylstilbestrol  </b>[die-ETH-ul-still-BES-trahl]</h2>
          <p class="test">Often shortened to DES. A man-made form of estrogen that was sometimes used during pregnancy in the past. People whose mothers took DES while pregnant with them may have a higher risk of certain cancers and reproductive problems. Women who took this drug while pregnant may be at a slightly higher risk of breast cancer. It’s no longer available in the United States. See also estrogen.
          </p>
        
          <hr>
		  <h2><b>dietitian or registered dietitian </b>[DIE-uh-TISH-un]</h2>
          <p class="test">An expert in the area of nutrition, food, and diet. A registered dietitian (RD) has at least a bachelor’s degree and has passed a national competency exam. The term nutritionist is also used, but there are no licensing or educational requirements for using this title in most states.
          </p>
        
          <hr>
		  <h2><b>differentiation </b>[DIF-uhr-EN-she-A-shun]</h2>
          <p class="test">The normal process through which cells mature so they can do the jobs they were meant to do. Cancer cells are less differentiated than normal cells. Tumor grading systems are based on the degree of differentiation. See also grade.
          </p>
        

          </div>
        </li>
        
        <li>
          <input type="radio" name="tabs" id="tab5">
          <label for="tab5">E</label>
          <div id="tab-content5" class="tab-content animated fadeIn">
            
          
		  <h2><b>early detection </b></h2>
          <p class="test">See detection.
          </p>
          
          <hr>
		  <h2><b>edema  </b>[uh-DEEM-uh]</h2>
          <p class="test">Swelling caused by build-up of fluid in body tissues. See also lymphedema.
          </p>
          
          <hr>
		  <h2><b> efficacy</b>[EF-ih-KUH-see]</h2>
          <p class="test">Effectiveness. The ability of a treatment to produce the desired result.
          </p>
          
          <hr>
		  <h2><b>ejaculate </b>[ih-JACK-you-LATE]</h2>
          <p class="test">To release semen during male orgasm. See also retrograde ejaculation, semen.
          </p>
          
          <hr>
		  <h2><b>electrofulguration </b>[e-LEK-tro-FUL-ger-A-shun]</h2>
          <p class="test">Also known as electrocautery (e-LEK-tro-CAW-tuh-ree). A type of treatment that destroys cells by burning with an electrical current; may also be used to control bleeding during surgery or after an injury.
          </p>
          
          <hr>
		  <h2><b>embolization </b>[EM-buh-li-ZAY-shun]</h2>
          <p class="test">A type of treatment that reduces the blood supply to a tumor by injecting materials to plug up the artery that supplies it.
          </p>
          
            
            
            
            
                        
          </div>
        </li>
        
        <li>
          <input type="radio" name="tabs" id="tab6">
          <label for="tab6">F</label>
          <div id="tab-content6" class="tab-content animated fadeIn">
            
          
		  <h2><b> fallopian tubes</b>[fa-LO-pee-uhn]</h2>
          <p class="test">The tubes on either side of the uterus through which eggs travel from the ovaries to the uterus. See also uterus, ovaries.
          </p>
          
          <hr>
		  <h2><b>false negative </b></h2>
          <p class="test">Test result implying a condition does not exist when in fact it does.
          </p>
          
          <hr>
		  <h2><b>false positive </b></h2>
          <p class="test">Test result implying a condition exists when in fact it does not.
          </p>
          
          <hr>
		  <h2><b> familial adenomatous polyposis</b>[fa-MIL-e-uhl ad-NO-muh-tus or AD-uh-NO-muh-tus PA-lih-PO-sis]</h2>
          <p class="test">Also called FAP. An inherited condition that puts a person at risk for getting colorectal cancer at an early age. People with this syndrome develop many polyps in the colon and rectum as well as tumors in other parts of the body. Usually one or more of these polyps becomes cancer if it’s not removed. FAP is caused by changes in the APC gene. See also APC gene, colon, gastrointestinal tract, polyp, rectum, tumor.
          </p>
          
          <hr>
		  <h2><b>fascia </b>[FASH-uh]</h2>
          <p class="test">A sheet or thin band of fibrous tissue that covers muscles and some organs of the body.
          </p>
          
          <hr>
		  <h2><b>fat necrosis </b>[nuh-CROW-sis]</h2>
          <p class="test">The death of fat cells, usually following injury. Fat necrosis is not cancer, but it can cause lumps and pulling of the tissues. When this happens in the breast, it can be confused with breast cancer.
          </p>
          
          <hr>
		  <h2><b>fatigue </b> [fuh-TEEG]</h2>
          <p class="test">Bone-weary tiredness that often doesn’t get better with rest. A common symptom during cancer treatment. For some people, it can last a long time after treatment.
          </p>
           
       
            
            
          </div>
        </li>
        
        <li>
        
          <input type="radio" name="tabs" id="tab7">
          <label for="tab7">G</label>
          <div id="tab-content7" class="tab-content animated fadeIn">
            
          
		  <h2><b>galactocele </b>[guh-LACK-tuh-seal]</h2>
          <p class="test">A clogged milk duct; a cyst filled with milk. It may occur in the breast during breast-feeding. See also cyst, duct.
          </p> 
          
          <hr>
		  <h2><b>galactogram </b></h2>
          <p class="test">See ductogram.
          </p> 
          
          <hr>
		  <h2><b>gallbladder </b></h2>
          <p class="test">A pear-shaped organ under the liver that stores bile, a fluid made by the liver to help the body digest fat. The gallbladder releases bile into the small intestine during digestion.
          </p> 
          
          <hr>
		  <h2><b>Gardner syndrome </b></h2>
          <p class="test">Like familial adenomatous polyposis (FAP), Gardner syndrome is an inherited condition in which polyps develop in the colon at a young age and often lead to cancer. It can also cause non-cancerous tumors of the skin, soft connective tissue, and bones. See also APC gene, colon, familial adenomatous polyposis, inherited disease, polyp.
          </p> 
          
          <hr>
		  <h2><b>gastric </b>[GAS-trick]</h2>
          <p class="test">Of or referring to the stomach.
          </p> 
          
          <hr>
		  <h2><b>gastroenterologist </b>[GAS-tro-EN-ter-AHL-uh-jist]</h2>
          <p class="test">A doctor who specializes in diseases of the digestive (gastrointestinal) tract, such as the swallowing tube (esophagus), stomach, small intestine, and large intestine, as well as the liver, gallbladder, and pancreas. See also esophagus, gallbladder, large intestine, liver, pancreas, small intestine, stomach.
          </p> 
          
          <hr>
		  <h2><b> gastrointestinal stromal tumors </b>[GAS-tro-in-TEST-uh-nul STRO-muhl TOO-mers]</h2>
          <p class="test">Often shortened to GISTs. Tumors that grow from special cells on the gastrointestinal wall known as the interstitial cells of Cajal. Most GISTs start in the stomach or small intestine. These tumors may or may not be cancer. GIST cancers are very different from other more common types of gastrointestinal tract cancers in treatment and outlook. See also gastrointestinal tract.
          </p> 
               
            
          </div>
        </li>
        
        <li>
          <input type="radio" name="tabs" id="tab8">
          <label for="tab8">H</label>
          <div id="tab-content8" class="tab-content animated fadeIn">
            
          
		  <h2><b> hamartomas</b>[HAM-ar-TOE-muhs]</h2>
          <p class="test">A non-cancerous tumor made up of an abnormal mixture of cells and tissues that are normally found in the part of the body where the tumor grows.
          </p>
          
          <hr>
		  <h2><b> hand-foot syndrome</b></h2>
          <p class="test">Also called palmar-plantar erythrodysesthesia (PAL-mer-PLAN-ter eh-RITH-roh-DIS-es-THEE-zhuh). A condition marked by pain, swelling, numbness, tingling, and/or redness of the hands and/or feet. Can be a side effect of certain chemotherapy drugs. See also chemotherapy.
          </p>
          
          <hr>
		  <h2><b>HDR brachytherapy </b></h2>
          <p class="test">See high-dose rate or temporary brachytherapy.
          </p>
          
          <hr>
		  <h2><b>health care power of attorney </b></h2>
          <p class="test">See durable power of attorney for health care.
          </p>
          
          <hr>
		  <h2><b>hemangioma </b>[he-MAN-jee-OH-muh]</h2>
          <p class="test">A birthmark often called a “strawberry mark.” A non-cancerous tumor made of blood vessels that often goes away over time.
          </p>
          
          <hr>
		  <h2><b>hematochezia </b>[HE-muh-toe-KEEZ-ee-uh or hem-AT-uh-KEEZ-ee-uh]</h2>
          <p class="test">Bright red blood in the poop (stool).
          </p>  
            
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </li>
		
		<li>
          <input type="radio" name="tabs" id="tab9">
          <label for="tab9">I</label>
          <div id="tab-content9" class="tab-content animated fadeIn">
            
          
		  <h2><b> iFOBT</b></h2>
          <p class="test">See fecal immunochemical test.
          </p>
          
          <hr>
		  <h2><b>IGF-1 </b></h2>
          <p class="test">See insulin-like growth factor-1.
          </p>
          
          <hr>
		  <h2><b> ileostomy</b>[ILL-ee-OSS-tuh-me]</h2>
          <p class="test">An opening created by surgery that attaches the end of last part of the small intestine, the ileum, to the skin on the belly (abdomen) to make a new path to get rid of body waste (poop or stool). A small pouch is placed at the opening to collect the stool. Stool that leaves the body through this opening tends to be unformed or liquid. See also small intestine.
          </p>
          
          <hr>
		  <h2><b>ileum </b>[ILL-ee-uhm]</h2>
          <p class="test">The last part of the small intestine, which normally connects to the start of the large intestine (cecum). See also cecum, colon, ileostomy.
          </p>
          
          <hr>
		  <h2><b>image cytometry </b></h2>
          <p class="test">A method that uses computers to analyze digital pictures of the cells on a microscope slide to check the number of chromosomes and other properties of the cells. See also chromosome, ploidy.
          </p>
          
          <hr>
		  <h2><b> imaging tests</b></h2>
          <p class="test">Methods used to make pictures of internal body structures. Some imaging tests used to help detect or stage cancer are x-rays, CT scans, MRI, PET scans, and ultrasound. See also computed tomography scan, magnetic resonance imaging, positron emission tomography, ultrasound.
          </p>
          
          <hr>
		  <h2><b> immune system</b></h2>
          <p class="test">The complex system by which the body resists infection by germs, such as bacteria or viruses, and rejects transplanted tissues or organs. The immune system may also help the body fight some cancers.
          </p>  
            
            
            
            
            
            
            
            
            
          </div>
        </li>
		
		<li>
          <input type="radio" name="tabs" id="tab10">
          <label for="tab10">J</label>
          <div id="tab-content10" class="tab-content animated fadeIn">
            
          
          <p class="test"> No glossary entries found matching your selection
          </p>  
            
            
          </div>
        </li>
		
		<li>
          <input type="radio" name="tabs" id="tab11">
          <label for="tab11">K</label>
          <div id="tab-content11" class="tab-content animated fadeIn">
          
          
		  <h2><b>Kaposi sarcoma </b>[KAP-o-see sar-KO-muh]</h2>
          <p class="test">Also called Kaposi’s sarcoma. A type of cancer that grows from cells lining the blood vessels or lymph vessels. It can affect many tissues and organs, and often forms brown, purple or red blotches on the skin. It is caused by infection with a virus in the herpes family, KHSV (Kaposi sarcoma herpesvirus), and is most often seen in people with weakened immune systems.
          </p>
          
          <hr>
		  <h2><b>Kegel exercises </b></h2>
          <p class="test">Exercises to strengthen certain muscles in the bottom of the pelvis. These exercises may help men and women with certain bladder control problems. See also urinary incontinence.
          
          </p>
          
          <hr>
		  <h2><b>kidney </b></h2>
          <p class="test">An organ that filters the blood to remove excess water, salt, and waste in the form of urine. A person normally has 2 kidneys. See also ureter, bladder, urethra, urine.
          
          </p>
          
          <hr>
		  <h2><b> KRAS or K-RAS</b></h2>
          <p class="test">A gene that, when changed (mutated), might cause cancer or help it to grow. This is not an inherited mutation (passed on from a parent), it’s a spontaneous mutation that starts in a single cell which then grows and multiplies. See also gene, mutation.
          </p>
          
          <hr>
		  <h2><b>kyphoplasty </b>[KI-foe-PLASS-tee]</h2>
          <p class="test">A procedure used to repair a broken bone in the spine (vertebra) and reduce pain. A balloon is put into the area of broken bone and inflated to expand the bone to its normal size. Bone cement is then injected into the space. Compare to vertebroplasty. See also vertebra.
          </p>
          
          
          
          
          </div>
        </li>
		
		<li>
          <input type="radio" name="tabs" id="tab12">
          <label for="tab12">L</label>
          <div id="tab-content12" class="tab-content animated fadeIn">
            
          
		  <h2><b>labia </b>[LAY-be-uh]</h2>
          <p class="test">Lips or lip-like structures, such as the lips at the opening of the mouth or the folds on either side of the vagina. The singular is labium. See also vulva.
          </p>
          
          <hr>
		  <h2><b>lactation </b>[lack-TAY-shun]</h2>
          <p class="test">Production of milk in the breast.
          </p>
          
          <hr>
		  <h2><b>laparoscope </b>[LAP-uh-ruh-SCOPE]</h2>
          <p class="test">A long, flexible, thin tube with a lens on the end that’s put into the belly (abdomen) through a very small cut. The laparoscope lets the surgeon see organs and lymph nodes inside the abdomen, and remove them using special surgical tools that fit through the laparoscope. See also abdomen, laparoscopic surgery, lymph node.
          </p>
          
          <hr>
		  <h2><b> laparoscopic lymphadenectomy</b>[LAP-uh-ruh-SKAH-pick LIMF-ad-uh-NECK-tuh-me]</h2>
          <p class="test">Removal of lymph nodes with a laparoscope. See also laparoscope, lymph node.
          </p>
          
          <hr>
		  <h2><b>laparoscopic radical prostatectomy </b>[LAP-uh-ruh-SKAH-pick RAD-ick-uhl PROS-tuh-TECK-tuh-me]</h2>
          <p class="test">A surgical procedure in which the prostate is removed using a laparoscope. See also laparoscope, prostate.
          </p>
          
          <hr>
		  <h2><b>laparoscopic surgery </b>[LAP-uh-ruh-SKAH-pick]</h2>
          <p class="test">Surgery using a narrow tube-like instrument called a laparoscope that’s put into the body through a small cut (incision). Other tubes are put in other nearby incisions to allow the surgeon to work inside the body. A surgeon might use this method to remove tissue or an organ while watching the procedure on a TV screen. The small incisions led to the name “keyhole surgery” or minimally invasive surgery. See also incision, laparoscope.
          </p>
          
           
            
            
            
            
            
            
          </div>
        </li>
		
		<li>
          <input type="radio" name="tabs" id="tab13">
          <label for="tab13">M</label>
          <div id="tab-content13" class="tab-content animated fadeIn">
            
          
		  <h2><b>macroglobulinemia </b>[MACK-row-GLOB-yuh-lin-EE-mee-uh]</h2>
          <p class="test">A condition in which there are too many large proteins in the blood, which may reduce or clog blood flow in the smaller blood vessels. Waldenstrom macroglobulinemia is a type of non-Hodgkin lymphoma with such proteins. See also non-Hodgkin lymphoma, Waldenstrom macroglobulinemia.
          </p>
          
          <hr>
		  <h2><b>macrophage </b>[MACK-ro-faj]</h2>
          <p class="test">A type of white blood cell that engulfs and destroys foreign materials. See also white blood cells.
          </p>
          
          <hr>
		  <h2><b>magnetic resonance imaging </b></h2>
          <p class="test">Often shortened to MRI. A method of taking detailed pictures of the inside of the body. Instead of using x-rays, MRI uses a powerful magnet to send radio waves through the body. The images appear on a computer screen as well as on film. Like x-rays, the procedure is painless, but some people may feel confined inside the MRI machine. See also imaging tests, x-ray.
          </p>
          
          <hr>
		  <h2><b>malignant </b>[muh-LIG-nunt]</h2>
          <p class="test">Cancerous; dangerous or likely to cause death if untreated. Compare with benign. See also cancer.
          </p>
          
          <hr>
		  <h2><b>malignant mesothelioma </b>[MEZ-oh-THEE-lee-OH-muh]</h2>
          <p class="test">A rare cancer that starts in the covering of the lungs (pleura), the heart (pericardium), or the lining of the abdomen (peritoneum). An extremely rare form can affect the inner covering of the testicles.
          </p>
          
          <hr>
		  <h2><b>malignant tumor </b>[muh-LIG-nunt TOO-mer or TYOO-mer]</h2>
          <p class="test">A mass of cancer cells that may invade nearby tissues or spread (metastasize) to distant areas of the body. Not all cancers form tumors, and not all tumors are malignant. See also malignant, tumor.
          </p>
          <hr>
		  <h2><b>mammary </b>[MAM-uh-ree]</h2>
          <p class="test">Having to do with the breast.
          </p>
          <hr>
		  <h2><b> mammary lymph nodes</b></h2>
          <p class="test">Lymph nodes that are inside the chest near the breastbone (sternum). See also lymph nodes.
          </p>  
            
            
            
            
          </div>
        </li>
		
		<li>
          <input type="radio" name="tabs" id="tab14">
          <label for="tab14">N</label>
          <div id="tab-content14" class="tab-content animated fadeIn">
           
          
		  <h2><b>nasopharynx </b>[NAY-zoh-FAIR-ingks]</h2>
          <p class="test">The part of the throat (pharynx) that lies above and behind the soft palate, behind the structures of the nose. Compare with oropharynx, pharynx.
          </p>
          <hr>
		  <h2><b> necrosis</b>[nuh-CROW-sis]</h2>
          <p class="test">The death of one or more cells of the body. Necrotic refers to tissue that has died.
          </p>
          <hr>
		  <h2><b>needle aspiration </b>[NEED-ul ASP-er-A-shun]</h2>
          <p class="test">A procedure in which a thin, hollow needle is used to reach a cyst or tumor, and with suction, draw up (aspirate) bits of tissue or fluid (samples) to be looked at under a microscope. See also biopsy, cyst, needle biopsy, tumor.
          </p>
          <hr>
		  <h2><b>needle biopsy </b>[NEED-ul BY-op-see]</h2>
          <p class="test">A procedure to remove fluid, cells, or tissue with a hollow needle so that it can be looked at under a microscope. The main types of needle biopsy are fine needle aspiration (FNA) and core biopsy. FNA uses a thin needle to draw up (aspirate) fluid or small tissue pieces from a cyst or tumor. A core needle biopsy uses a wider needle to remove a core of tissue from a tumor. See also biopsy, core needle biopsy, cyst, fine needle aspiration biopsy, needle aspiration, tumor.
          </p>
          <hr>
		  <h2><b> needle localization </b>[NEED-ul LO-cull-ih-ZAY-shun]</h2>
          <p class="test">A procedure used to guide the surgeon to the area where the tissue or fluid (sample) needs to be taken from when the lump is hard to find or when there are areas of concern on the x-ray but there’s no distinct lump. X-rays are used to guide a needle to the suspicious area. Then either a small amount of blue dye is injected through the needle, or a thin wire is passed through the needle and left in place, and the needle is removed. The surgeon then uses the dye or the wire as a guide to find the abnormal area to be removed. See also biopsy, wire localization, x-ray.
          </p>
          <hr>
		  <h2><b>negative  </b></h2>
          <p class="test">A result from lab tests or pathology findings in which the abnormality being looked for was not found. For example, when lymph nodes or other tissues are said to be negative for cancer, it means that no cancer was found there. See also lymph nodes.
          </p>
          <hr>
		  <h2><b> negative margin </b></h2>
          <p class="test">See surgical margin.
          </p>
          <hr>
		  <h2><b> neoadjuvant therapy</b>[NEE-o-AD-juh-vunt]</h2>
          <p class="test">Treatment given before the main treatment. For example, neoadjuvant chemotherapy is sometimes used to shrink a cancer tumor before surgery so that it’s easier to remove. Compare to adjuvant therapy. See also chemotherapy, tumor.
          </p>
          <hr>
		  <h2><b> neonatologist</b>[NEE-o-nay-TAHL-uh-jist]</h2>
          <p class="test">A doctor who specializes in the care of newborns (until they are about 6 weeks old).
          </p>
          
           
           
           
          </div>
        </li>
		
		<li>
          <input type="radio" name="tabs" id="tab15">
          <label for="tab15">O</label>
          <div id="tab-content15" class="tab-content animated fadeIn">
           
          
		  <h2><b> obesity</b></h2>
          <p class="test">A state of being very overweight; in general, a body mass index (BMI) greater than 30. BMI is figured out based on height and weight, but is not an absolute measure for overweight or obesity. Because it cannot tell the difference between fat and muscle, other tests must be done to know whether a person with a high BMI is actually obese.
          </p>
          
           
           
           
           
           
           
           
          </div>
        </li>
		
		<li>
          <input type="radio" name="tabs" id="tab16">
          <label for="tab16">P</label>
          <div id="tab-content16" class="tab-content animated fadeIn">
          
          
		  <h2><b>p53 </b></h2>
          <p class="test">Protein that normally causes damaged cells to die, which is very important to the body’s defenses against cancer. This protein is made by the TP53 tumor suppressor gene. See also gene, protein, TP53, tumor suppressor genes.
          </p>
          
          </div>
        </li>
		
		<li>
          <input type="radio" name="tabs" id="tab17">
          <label for="tab17">Q</label>
          <div id="tab-content17" class="tab-content animated fadeIn">
          
		  <h2><b>quality of life </b></h2>
          <p class="test">Overall enjoyment of life, which includes a person’s sense of well-being and ability to do the things that are important to him or her.
          </p>
          
          
          </div>
        </li>
		
		<li>
          <input type="radio" name="tabs" id="tab18">
          <label for="tab18">R</label>
          <div id="tab-content18" class="tab-content animated fadeIn">
          
          
		  <h2><b>radiation </b></h2>
          <p class="test">Ranges from light and heat to radio waves, microwaves, and x-rays. In reference to cancer, the 2 main types are ionizing and non-ionizing radiation. The high-energy rays used for x-rays and some other imaging tests, as well as in higher doses for cancer treatment, are called ionizing radiation. This type of radiation can be produced by medical devices, but also comes from natural sources such as radon gas (in the ground) and outer space. See also imaging tests, radiation dose, radiation therapy, x-ray.
          </p>
          
          </div>
        </li>
		
		<li>
          <input type="radio" name="tabs" id="tab19">
          <label for="tab19">S</label>
          <div id="tab-content19" class="tab-content animated fadeIn">
          
          
		  <h2><b>scintimammography  </b>[SIN-ti-mam-AHG-gruh-fee]</h2>
          <p class="test">Also called breast specific gamma imaging (BSGI) or molecular breast imaging (MBI). An imaging test in which a radioactive tracer is put into the blood through a vein to help find breast cancer. The tracer collects in the breasts, and different patterns can show “hot spots” or areas of greater activity. This test may help evaluate women with abnormal mammograms, and is still being studied as doctors try to improve its usefulness. See also imaging tests, mammogram, nuclear medicine scan, radioisotope.
          </p>
          
          </div>
        </li>
		
		<li>
          <input type="radio" name="tabs" id="tab20">
          <label for="tab20">T</label>
          <div id="tab-content20" class="tab-content animated fadeIn">
          
          
		  <h2><b>T lymphocytes  </b>[LIM-fo-sites]</h2>
          <p class="test">Also called T cells. White blood cells that mature in the thymus. They make cytokines and play a large role in the immune response against viruses, transplanted organs and tissues, and cancer cells. See also cytokines, thymus, white blood cells.
          
          </p>
          
          </div>
        </li>
		
		<li>
          <input type="radio" name="tabs" id="tab21">
          <label for="tab21">U</label>
          <div id="tab-content21" class="tab-content animated fadeIn">
           
          
		  <h2><b>ulcerative colitis </b> [UL-suh-ruh-tiv kuh-LIE-tis]</h2>
          <p class="test">A type of inflammatory bowel disease where the colon is inflamed over a long period of time. This increases a person’s risk of developing colon cancer, so starting colorectal cancer screening earlier and doing these tests more often is recommended. See also colon, colorectal cancer screening, inflammatory bowel disease.
          </p>
          
          </div>
        </li>
		
		<li>
          <input type="radio" name="tabs" id="tab22">
          <label for="tab22">V</label>
          <div id="tab-content22" class="tab-content animated fadeIn">
          
          
		  <h2><b>vaccine </b>[vack-SEEN]</h2>
          <p class="test">A modified version of a germ or other substance related to a disease, usually given as a shot (injection). It’s used to stimulate the immune system to resist that disease for a period of time, or even permanently. For instance, the HPV vaccines help prevent cancer by helping the body fight human papilloma virus (HPV), which can cause many types of cancer. See also human papilloma virus, immune system.
          </p>
          
          </div>
        </li>
		
		<li>
          <input type="radio" name="tabs" id="tab23">
          <label for="tab23">W</label>
          <div id="tab-content23" class="tab-content animated fadeIn">
          
          
		  <h2><b> Waldenstrom macroglobulinemia</b>[WAL-den-strom MACK-row-GLOB-yuh-lin-EE-mee-uh]</h2>
          <p class="test">Also called lymphoplasmacytic lymphoma. A type of non-Hodgkin lymphoma in which the cells make large amounts of an abnormal protein called a macroglobulin. The lymphoma cells grow mainly in the bone marrow and crowd out normal blood cells. See also bone marrow, macroglobulinemia, non-Hodgkin lymphoma.
          </p>
          
          </div>
        </li>
		
		<li>
          <input type="radio" name="tabs" id="tab24">
          <label for="tab24">X</label>
          <div id="tab-content24" class="tab-content animated fadeIn">
          
          
		  <h2><b>x-ray </b></h2>
          <p class="test">one form of radiation that can be used at low levels to make an image of the body or at high levels to kill cancer cells. See also imaging tests, radiation.
          </p>
          
          </div>
        </li>
		
		<li>
          <input type="radio" name="tabs" id="tab25">
          <label for="tab25">Y</label>
          <div id="tab-content25" class="tab-content animated fadeIn">
          
          
		 
          <p class="test">No glossary entries found matching your selection
          </p>
          
          </div>
        </li>
		
		<li>
          <input type="radio" name="tabs" id="tab26">
          <label for="tab26">Z</label>
          <div id="tab-content26" class="tab-content animated fadeIn">
          
          <p class="test">No glossary entries found matching your selection
          </p>
          
          </div>
        </li>
        
        <li>
          <input type="radio" name="tabs" id="tab27">
          <label for="tab27">0-9</label>
          <div id="tab-content27" class="tab-content animated fadeIn">
          
          
		  <h2><b>5-alpha reductase </b>[AL-fuh re-DUCK-tase]</h2>
          <p class="test">An enzyme that converts testosterone (a male hormone) to a more active hormone called dihydrotestosterone (DHT). DHT can cause the prostate to grow. Drugs that prevent this conversion are called 5-alpha reductase inhibitors and may be used to shrink an enlarged prostate or help reduce prostate cancer risk. See also prostate, testosterone.
          </p>
          
          </div>
        </li>
		
		</ul>
		
		</div>

	    </section>
	    

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>

</html>
