 <% include header %>
<link rel="stylesheet" type="text/css"
	href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />		
	<div class="row">
			
				<h2 class="page-header"><center>Visualization on Maps</center></h2>
				
	
		</div>
<section id="feature" class="transparent-bg">
	
	<table>
		<tr>
			<td><label>Cancer Count Per State</label></td>
			<td><input type="radio" name="cancertype" id="breast"
				value="breast" checked>Breast Cancer</td>
			<td><input type="radio" name="cancertype" id="lung" value="lung">Lung
				Cancer</td>
			<td><input type="radio" name="cancertype" id="bladder"
				value="bladder">Bladder Cancer</td>
			<td><input type="radio" name="cancertype" id="colorectal"
				value="colorectal">Colorectal Cancer</td>
			<td><input type="radio" name="cancertype" id="prostate"
				value="prostate">Prostate Cancer</td>
			<td><input type="radio" name="cancertype" id="vulvar"
				value="vulvar">Vulvar Cancer</td>

		</tr>
		<tr>
			<td><label>Death Count Per State, Gender</label></td>
			<td><input type="radio" name="cancertype" id="breastd"
				value="breast">Breast Cancer</td>
			<td><input type="radio" name="cancertype" id="lungd"
				value="lung">Lung Cancer</td>
			<td><input type="radio" name="cancertype" id="bladderd"
				value="bladder">Bladder Cancer</td>
			<td><input type="radio" name="cancertype" id="colorectald"
				value="colorectal">Colorectal Cancer</td>
			<td><input type="radio" name="cancertype" id="prostated"
				value="prostate">Prostate Cancer</td>
			<td><input type="radio" name="cancertype" id="vulvard"
				value="vulvar">Vulvar Cancer</td>
		</tr>
		<tr>
			<td><button onclick="check()">Submit</button></td>
		</tr>
	</table>

	<div id="container"></div>
	<div id="container1"></div>
	</div>


<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.prettyPhoto.js"></script>
		<script src="js/jquery.isotope.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/wow.min.js"></script>
	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="http://code.highcharts.com/maps/highmaps.js"></script>
	<script src="http://code.highcharts.com/maps/modules/data.js"></script>
	<script src="http://code.highcharts.com/maps/modules/exporting.js"></script>
	<script src="http://code.highcharts.com/mapdata/custom/world.js"></script>
	<script src="http://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
	<script>
		//renderchart('data/breastcancerdata.json');
		function check() {

			if (document.getElementById('breast').checked) {

				renderchart('data/breastcancerdata.json', '#FFD6EB', '#FF99CC',
						'#FF3399', 'Breast Cancer Count Per State');
			} else if (document.getElementById('lung').checked) {
				renderchart('data/lungcancerdata.json', '#CCD6CC', '#809980',
						'#003300', 'Lung Cancer Count Per State');
			} else if (document.getElementById('bladder').checked) {
				renderchart('data/bladdercancerdata.json', '#F5E6EB',
						'#CC8099', '#4C001A', 'Bladder Cancer Count Per State');
			} else if (document.getElementById('colorectal').checked) {
				renderchart('data/colorectalcancerdata.json', '#EBE0D6',
						'#CCB299', '#996633',
						'Colorectal Cancer Count Per State');
			} else if (document.getElementById('prostate').checked) {
				renderchart('data/prostatecancerdata.json', '#CCEBCC',
						'#66C266', '#009900', 'Prostate Cancer Count Per State');
			} else if (document.getElementById('vulvar').checked) {
				renderchart('data/vulvarcancerdata.json', '#EFEFFF', '#B4B4FF',
						'#1717FF', 'Vulvar Cancer Count Per State');
			}

			else if (document.getElementById('breastd').checked) {

				renderdeathchart('data/breastdeath.json', '#FFD6EB', '#FF99CC',
						'#FF3399', 'Breast Death Count Per State, Gender');
			} else if (document.getElementById('lungd').checked) {
				renderdeathchart('data/lungdeath.json', '#CCD6CC', '#809980',
						'#003300', 'Lung Death Count Per State, Gender');
			} else if (document.getElementById('bladderd').checked) {
				renderdeathchart('data/bladderdeath.json', '#F5E6EB',
						'#CC8099', '#4C001A',
						'Bladder Death Count Per State, Gender');
			} else if (document.getElementById('colorectald').checked) {
				renderdeathchart('data/colorectaldeath.json', '#EBE0D6',
						'#CCB299', '#996633',
						'Colorectal Death Count Per State, Gender');
			} else if (document.getElementById('prostated').checked) {
				renderdeathchart('data/prostatedeath.json', '#CCEBCC',
						'#66C266', '#009900',
						'Prostate Death Count Per State, Gender');
			} else if (document.getElementById('vulvard').checked) {
				renderdeathchart('data/vulvardeath.json', '#EFEFFF', '#B4B4FF',
						'#1717FF', 'Vulvar Death Count Per State, Gender');
			}

		}

		function renderchart(path, min, mid, max, ctext) {
			$
					.getJSON(
							path,
							function(data) {

								// Make codes uppercase to match the map data
								/*  $.each(data, function () {
								     this.code = this.code.toUpperCase();
								 }); */

								// Instanciate the map
								$('#container')
										.highcharts(
												'Map',
												{

													chart : {
														borderWidth : 1
													},

													title : {
														text : ctext
													},

													legend : {
														layout : 'horizontal',
														borderWidth : 0,
														backgroundColor : 'rgba(255,255,255,0.85)',
														floating : true,
														verticalAlign : 'top',
														y : 25
													},

													mapNavigation : {
														enabled : true
													},

													colorAxis : {
														min : 1,
														type : 'logarithmic',
														minColor : '#EEEEFF',
														maxColor : '#000022',
														borderColor : '#000000',
														stops : [ [ 0, min ],
																[ 0.60, mid ],
																[ 1, max ] ]
													},

													series : [ {
														animation : {
															duration : 1000
														},
														data : data,
														mapData : Highcharts.maps['countries/us/us-all'],
														joinBy : [
																'postal-code',
																'code' ],
														dataLabels : {
															enabled : true,
															color : 'white',
															format : '{point.code}'
														},
														name : 'No of Cases in',
														tooltip : {
															//  pointFormat: '{point.code}: {point.value}',
															pointFormat : '<span class="f32"><span class="flag {point.flag}"></span></span>'
																	+ ' {point.code}: <b>{point.value}</b>',
															positioner : function() {
																return {
																	x : 1000,
																	y : 1000
																};
															}
														}
													} ]
												});
							});
		}
		function renderdeathchart(path, min, mid, max, ctext) {
			$
					.getJSON(
							path,
							function(data) {

								// Make codes uppercase to match the map data
								/*  $.each(data, function () {
								     this.code = this.code.toUpperCase();
								 }); */

								// Instanciate the map
								$('#container')
										.highcharts(
												'Map',
												{

													chart : {
														borderWidth : 1
													},

													title : {
														text : ctext
													},

													legend : {
														layout : 'horizontal',
														borderWidth : 0,
														backgroundColor : 'rgba(255,255,255,0.85)',
														floating : true,
														verticalAlign : 'top',
														y : 25
													},

													mapNavigation : {
														enabled : true
													},

													colorAxis : {
														min : 1,
														type : 'logarithmic',
														minColor : '#EEEEFF',
														maxColor : '#000022',
														stops : [ [ 0, min ],
																[ 0.60, mid ],
																[ 1, max ] ]
													},

													series : [ {
														animation : {
															duration : 1000
														},
														data : data,
														mapData : Highcharts.maps['countries/us/us-all'],
														joinBy : [
																'postal-code',
																'state' ],
														dataLabels : {
															enabled : true,
															color : 'white',
															format : '{point.state}'
														},
														name : 'No of Cases in',
														tooltip : {
															//  pointFormat: '{point.code}: {point.value}',
															pointFormat : '<span class="f32"><span class="flag {point.flag}"></span></span>'
																	+ ' {point.state}: <b> Total: {point.value}</b><br><b> Male: {point.male}</b> <b> Female: {point.female}</b>',
															positioner : function() {
																return {
																	x : 0,
																	y : 100
																};
															}
														}
													} ]
												});
							});
		}
	</script>
	<script>
		$(function() {

			$
					.getJSON(
							'data/worldmap.json',
							function(data) {

								// Add lower case codes to the data set for inclusion in the tooltip.pointFormat
								$.each(data, function() {
									this.flag = this.code.replace('UK', 'GB')
											.toLowerCase();
								});

								// Initiate the chart
								$('#container3')
										.highcharts(
												'Map',
												{

													title : {
														text : 'Cancer Demographics'
													},

													tooltip : {
														backgroundColor : 'none',
														borderWidth : 0,
														shadow : false,
														useHTML : true,
														padding : 0,
														pointFormat : '<span class="f32"><span class="flag {point.flag}"></span></span>'
																+ ' {point.code}: <b>{point.value}</b>',
														positioner : function() {
															return {
																x : 0,
																y : 250
															};
														}
													},

													series : [ {
														data : data,
														mapData : Highcharts.maps['custom/world'],
														joinBy : [ 'iso-a2',
																'code' ],
														name : 'Cancer density',
														states : {
															hover : {
																color : '#BADA55'
															}
														}
													} ]
												});
							});
		});
	</script>
	<script>
		$(function() {

			$.getJSON('data/worldmap.json', function(data) {

				var mapData = Highcharts
						.geojson(Highcharts.maps['custom/world']);

				// Correct UK to GB in data
				$.each(data, function() {
					if (this.code === 'UK') {
						this.code = 'GB';
					}
				});

				$('#container').highcharts('Map', {
					chart : {
						borderWidth : 1
					},

					title : {
						text : 'World Map -Cancer'
					},

					subtitle : {
						text : 'Cancer '
					},

					legend : {
						enabled : false
					},

					mapNavigation : {
						enabled : true,
						buttonOptions : {
							verticalAlign : 'bottom'
						}
					},

					series : [ {
						name : 'Countries',
						mapData : mapData,
						color : '#990000',
						enableMouseTracking : false
					}, {
						type : 'mapbubble',
						mapData : mapData,
						name : 'Cancer Count',
						joinBy : [ 'iso-a2', 'code' ],
						data : data,
						minSize : 10,
						maxSize : '15%',
						tooltip : {
							pointFormat : '{point.code}: {point.z}'
						}
					} ]
				});

			});
		});
	</script>

	</div>
	<!--/.container-->
</section>
<!--/#feature-->
<% include footer %>
