<% include header %>

   <link href="css/NavCancerInfo.css" rel="stylesheet">



<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="#tab1">Vulvar Cancer</a></li>
						<li class=""><a href="#tab2">Symptoms</a></li>
						<li class=""><a href="#tab3">Stages</a></li>
						<li class=""><a href="#tab4">Treatment Techniques</a></li>
						
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
	
	
		<div class="col-sm-9" style="text-align: justify;">

           <div class="left wow fadeInDown" id="tab1">
                <h2>What is Vulvar Cancer ?</h2>
                <p class="lead">Cancer of the vulva (the external female genital organs, including the clitoris, vaginal lips, and the opening to the vagina).</p>
            </div> <br>
            
            <div class="left wow fadeInDown" id="tab2">
                <h2>What Are the Symptoms of Vulvar Cancer ?</h2>
                <p class="lead">Vulvar cancer often does not cause early symptoms. When symptoms occur, they may be caused by vulvar cancer or by other conditions. Check with your doctor if you have any of the following problems: </p>
                <ul class="lead">
                    <li>A lump or growth on the vulva. </li>
                    <li>Changes in the vulvar skin, such as color changes or growths that look like a wart or ulcer. </li>
                    <li>Itching in the vulvar area, that does not go away. </li>
                    <li>Bleeding not related to menstruation (periods).</li>
                    <li>Tenderness in the vulvar area.  </li>
                </ul>
            </div> <br>
            
            <div class="left wow fadeInDown" id="tab3">
                <h2>Stages of Vulvar Cancer</h2>
                <p class="lead">There are five stages of vulvar cancer as follows: <br /> </p>
                <ul class="lead">
                    <li><b>Stage 0:</b><br /> Stage 0 vulvar cancer is early stage cancer. </li>
                    <li><b>Stage I:</b><br /> Tumor confined to the vulva. </li>
                    <li><b>Stage II:</b><br /> Tumor of any size with extension to adjacent perineal structures (1/3 lower urethra, 1/3 lower vagina, anus) with negative nodes. </li>
                    <li><b>Stage III:</b><br /> Tumor of any size with or without extension to adjacent perineal structures (1/3 lower urethra, 1/3 lower vagina, anus) with positive inguino-femoral lymph nodes. </li>
                    <li><b>Stage IV:</b><br /> Tumor invades other regional (2/3 upper urethra, 2/3 upper vagina), or distant structures. </li>
                </ul>
            </div> <br>
            <div class="left wow fadeInDown">
                <img class="img-responsive" src="images/vulvarcancer_stages.jpg" alt="">	
                
            </div> <br>
            <div class="left wow fadeInDown" id="tab4">
                <h2>Treatment Techniques</h2>
                <p class="lead">The vulvar cancer can be treated by various treatment techniques depending on the stage of the cancer. <br /> </p>
                <p class="lead"><b><h3>Surgery</h3></b></p>
                <p class="lead">Surgery is the most common treatment for vulvar cancer. The goal of surgery is to remove all the cancer without any loss of the woman's sexual function. One of the following types of surgery may be done: </p>
                <ul class="lead">
                    <li><b>Laser surgery:</b> A surgical procedure that uses a laser beam (a narrow beam of intense light) as a knife to make bloodless cuts in tissue or to remove a surface lesion such as a tumor. </li>
                    <li><b>Wide local excision:</b> A surgical procedure to remove the cancer and some of the normal tissue around the cancer. </li>
                    <li><b>Radical local excision:</b> A surgical procedure to remove the cancer and a large amount of normal tissue around it. Nearby lymph nodes in the groin may also be removed. </li>
                    <li><b>Ultrasound surgical aspiration (USA):</b> A surgical procedure to break the tumor up into small pieces using very fine vibrations. The small pieces of tumor are washed away and removed by suction. This procedure causes less damage to nearby tissue. </li>
                    <li><b>Vulvectomy:</b> A surgical procedure to remove part or all of the vulva: 
                        <ul class="lead">
                            <li><b>Skinning vulvectomy:</b> The top layer of vulvar skin where the cancer is found is removed. Skin grafts from other parts of the body may be needed to cover the area where the skin was removed. </li>
                            <li><b>Modified radical vulvectomy:</b> Surgery to remove part of the vulva. Nearby lymph nodes may also be removed. </li>
                            <li><b>Radical vulvectomy:</b> Surgery to remove the entire vulva. Nearby lymph nodes are also removed. </li>
                        </ul></li>
                    <li><b>Pelvic exenteration:</b> A surgical procedure to remove the lower colon, rectum, and bladder. The cervix, vagina, ovaries, and nearby lymph nodes are also removed. Artificial openings (stoma) are made for urine and stool to flow from the body into a collection bag. </li>
                </ul>
                 <br> <br> <br> <br>
            </div>
            </div>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">BC</i>
                            <a href="breast-cancer"><h2>Breast Cancer</h2></a>
                            <h3>A cancer that forms in the cells of the breasts </h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">CC</i>
                            <a href="colorectal-cancer"><h2>Colorectal Cancer</h2></a>
                            <h3>Cancer that forms in the tissues of the colon or rectum</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">LC</i>
                            <a href="lung-cancer"><h2>Lung Cancer</h2></a>
                            <h3>A cancer that begins in the lungs, common with people who smoke</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">BC</i>
                            <a href="bladder-cancer"><h2>Bladder Cancer</h2></a>
                            <h3>Cancer that begins in the bladder</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">VC</i>
                            <a href="vulvar-cancer"><h2>Vulvar Cancer</h2></a>
                            <h3>A cacner that begins in the vulva</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa">PC</i>
                            <a href="prostate-cancer"><h2>Prostate Cancer</h2></a>
                            <h3>A cacner that begins in the prostate</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row--> 


            <div class="get-started center wow fadeInDown">
                <h2>Looking for someother type of cancer ?</h2>
                <p class="lead">If you want to know about someother type of cancer,<br /> click on the following link and search for the cancer you want.</p>
                <div class="request">
                    <h4><a href="http://www.cancer.org/cancer/index">Follow this link !</a></h4>
                </div>
            </div><!--/.get-started-->

            
        </div><!--/.container-->
    </section><!--/#feature-->



 <% include footer %>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>